{% extends 'inc/master.html' %}

{% block title %}
    西蒙弗雷泽大学
{% endblock %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#apply').prop('class', 'active');
        });
    </script>
{% endblock %}


{% block content %}
    <section id="home-slider" class="margin-bottom" style="background: none;">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <img src="/static/images/mx/11.jpg" class="slider-school" alt="留学申请">
                    <div class="slider-summary">
                        <h1>西蒙弗雷泽大学</h1>
                        <p class="normal-p">世界综合排名:179</p>
                        <p class="normal-p">优势学院：交互技术学院、生命科学学院、理学院、应用技术学院</p>
                        <p class="normal-p">招生地址：8888 University Dr, Burnaby, BC, Canada</p>
                        <p class="normal-p">招生电话：778 782 6930 </p>
                        <p class="normal-p">录取率：<strong style="color:rgb(192, 48, 53);">7%</strong></p>
                        <p class="normal-p">留学费用/学年：
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>学费：20,000多加币
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>生活费预计$10,000-15,000
                        </p>
                        <a href="http://www.sfu.ca/admission.html" class="btn btn-common">访问官网</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>

    <div class="container text-center margin-bottom">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>录取条件
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
    </div>

    <div class="container">
        <div class="container text-center margin-bottom">
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/index/b.png" alt="">
                </div>
                <h2>本科</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>TOEFL： 88+（单项要求不低于20）</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>IELTS：  6.5+ (单项不低于6.0）</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>SFU没有语言班，入学前需满足语言成绩的最低要求</h5>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                    <img src="/static/images/index/m.png" alt="">
                </div>
                <h2>硕士</h2>
                {#                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">#}
                {#                    <span class="icon">#}
                {#                        <i class="fa fa-check"></i>#}
                {#                    </span>#}
                {#                    <div class="feature-copy text-left">#}
                {#                        <h5>#}
                {#                            正规大学四年制本科毕业并取得学士学位#}
                {#                        </h5>#}
                {#                    </div>#}
                {#                </div>#}

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            TOEFL： 88+（单项要求不低于20）
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            IELTS：  6.5+ (单项不低于6.0）
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            全日制本科学士学位或硕士学位
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            大学总平均成绩：B+（前80%）
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 text-center" >
            <a href="#hex" class="btn btn-error" style="margin-top: 0;">分数不够怎么办，恒心来帮你</a>
        </div>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            院校简介
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            西蒙弗雷泽大学又译名“西蒙菲沙大学”、“西蒙菲莎大学”，建校于1965年，是以一位19世纪的探险家Simon Fraser而命名的。经过四十多年的发展，已经连续几年被著名的《Maclean„s》杂志评为加拿大综合大学前三名，并有5次被评为加拿大最佳综合大学(1993年，1996年，1997年，1998年和2000年)，具有典型的加拿大公立大学的优秀教育品质。
        </p>
        <p class="normal-p" style="text-indent: 2em;">
            相对于加拿大其他大学，西蒙弗雷泽还有一个优势，就是它实行三学期制：秋季(9-12月)，春季(1-4月)和夏季(5-8月。这样一来，学生可选择全年读书，加快毕业时间，也可以选择暑假工作或休息，而且该校的带薪实习课程在加拿大处于领先水平。
        </p>
        <p class="normal-p" style="text-indent: 2em;">
            西蒙弗雷泽大学还努力帮助学生在相关领域通过带薪实习扩大其知识面，更早适应社会环境。这些带薪实习机会非常丰富，管理与运动学专业的学生可以到澳大利亚管理娱乐设施，社会学专业的学生可以到加拿大知名机构从事调查研究，工程与计算机专业的学生可以到世界最大的视频游戏制造公司参加设计工作。
        </p>
        <p class="normal-p" style="text-indent: 2em;">
            随着西蒙弗雷泽大学的声望越来越高，申请的学生也越来越多，SFU的入学要求也越来越苛刻。对于中国学生，不仅要求580分以上的托福成绩而且还要求平均成绩85分以上，高考成绩在70%以上。
        </p>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            周边环境

        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            西蒙弗雷泽大学有三个校区(位于Burnaby山上的主校区，位于温哥华市中心的Harbour Center校区和位于Surrey的Surrey校区)。主校区位离温哥华半小时车程。主校区占地174公顷，教学楼连成一体，不用走出室外就可在几栋教学楼中自由穿梭。
        </p>
        <p class="normal-p" style="text-indent: 2em;">
            西蒙弗雷泽大学位于“全世界最适于人类居住的地方”——温哥华市，共有三个校区，主校区位于温哥华北部的伯纳比(Burnaby)，环境优美，群山环抱，有弗雷泽河和温哥华港。壮观的山脉、海水湾和岛屿使西蒙弗雷泽大学成为环境最优美的大学之一。喜爱大自然的人可以在雨林中漫步或骑车；而喜爱城市的人则可以乘车去温哥华欣赏都市美景。
        </p>
        <p class="normal-p" style="text-indent: 2em;">
            温哥华以它的多元文化、高效先进的商业环境以及极低的犯罪率而闻名。这里属于温和的海洋性气候，是加拿大气候最好的大城市，优美的自然风景优美吸引了无数的游人来这里参加各种户外活动。
        </p>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            学校设施
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            西蒙弗雷泽大学的图书馆藏书130万册，期刊9000多本。校内有先进的电脑设备供学生享用，学校每个学生都有免费计算机账号，微机实验室，E-mail和网络系统。并有用作舞术指导的三维人物动画软件；具有世界范围专利权的微晶片等等。
        </p>
    </div>



    <div class="container text-center margin-bottom" id="hex">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>恒心名校直通车
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
        <p class="normal-p" style="color: orangered"><strong>Development Case + 校董提名 + Admission Office，恒心独家一手资源，助你稳稳走进名校大门</strong></p>
    </div>

    <div class="container">
        <div class="container text-center margin-bottom">
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/index/b.png" alt="">
                </div>
                <h2>本科材料</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>高中成绩</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>SAT/ACT/SATII， 部分专业可免SAT/ACT</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>托福成绩, 部分学校接受四年美高可免托福成绩</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>CV&PS</h5>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                    <img src="/static/images/index/m.png" alt="">
                </div>
                <h2>硕士材料</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            本科成绩单
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            GRE/GMAT, 部分学校可免GRE/GMAT
                        </h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            托福成绩
                        </h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            CV&PS
                        </h5>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="container text-center margin-bottom" id="hex">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>名校直通车办理流程
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
    </div>
    <div class="container text-center margin-bottom">
        <label class="tag">
            提交材料
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            选择学校
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            可行性分析
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            签约
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            定金支付
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            出具offer后 付清尾款
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            办理入学手续
        </label>

    </div>
{% endblock %}