{% extends 'inc/master.html' %}

{% block title %}
    不列颠哥伦比亚大学
{% endblock %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#apply').prop('class', 'active');
        });
    </script>
{% endblock %}


{% block content %}
    <section id="home-slider" class="margin-bottom" style="background: none;">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <img src="/static/images/mx/10.jpg" class="slider-school" alt="留学申请">
                    <div class="slider-summary">
                        <h1>不列颠哥伦比亚大学</h1>
                        <p class="normal-p">US NEWS RANK:45</p>
                        <p class="normal-p">优势学院：应用科学学院，建筑与景观设计学院，艺术健康与科学学院，科学与管理学院</p>
                        <p class="normal-p">招生地址：3333 University Way Kelowna, BC Canada V1V 1V7</p>
                        <p class="normal-p">招生电话: 250 807 8000</p>
                        <p class="normal-p">录取率：<strong style="color:rgb(192, 48, 53);">50%</strong></p>
                        <p class="normal-p">留学费用/学年：
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>本科学费：25000-30000加币
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>研究生学费：8000加币
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>本科生活费：12000-15000加币
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>研究生生活费：16000—20000加币
                        </p>
                        <a href="http://www.ubc.ca/admissions/" class="btn btn-common">访问官网</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>

    <div class="container text-center margin-bottom">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>录取条件
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
    </div>

    <div class="container">
        <div class="container text-center margin-bottom">
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/index/b.png" alt="">
                </div>
                <h2>本科</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>IBT：90+   (Reading: 22;Listening: 22;Writing: 21;Speaking: 21)</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>IELTS：6.5+ (6.0)</h5>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                    <img src="/static/images/index/m.png" alt="">
                </div>
                <h2>硕士</h2>
{#                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">#}
{#                    <span class="icon">#}
{#                        <i class="fa fa-check"></i>#}
{#                    </span>#}
{#                    <div class="feature-copy text-left">#}
{#                        <h5>#}
{#                            正规大学四年制本科毕业并取得学士学位#}
{#                        </h5>#}
{#                    </div>#}
{#                </div>#}

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            　本科毕业，相关专业背景
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            平均分：211院校最低80%；非211院校，最低85%
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                           IBT/IELTS： 80/6.5(6.0)
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            商科提交GMAT，理文工建议提交GR
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 text-center" >
            <a href="#hex" class="btn btn-error" style="margin-top: 0;">分数不够怎么办，恒心来帮你</a>
        </div>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            院校简介
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            不列颠哥伦比亚大学(University of British Columbia，简称UBC)，也称卑诗大学，是一所创建于1908年的位于加拿大卑斯省的公立大学。UBC大学现在共有两个校区。学校总区位于温哥华市，为卑斯省最古老的大学，起初为研究性合作机构，后来逐渐发展为闻名国际的综合大学;另外位于基隆拿市的校区在2005年成立。学校提供的专业和课程非常广泛，很多学科如生物等在加拿大甚至世界上均属一流。
        </p>
    </div>


    <div class="container text-center margin-bottom">
        <h1>
            学术
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            UBC设有17个研究中心和机构，并主导了加拿大四个中央高级研究中心。该校主持了不列颠哥伦比亚省60%的研究活动。来自该校12个院系的研究员们是加拿大14个科技顶尖机构网络中心的成员;该校的Nitobe植物园在全国享有盛名;这里的人类学博物馆是温哥华市十大游览胜点之一，收藏有整个北美大陆西北土着文化最好的艺术和手工艺品。UBC另拥有一个海洋生物研究站，两个研究农场，一个世界最大的亚原子回旋加速器，这里拥有的设施足以满足学生对研究的挑战。正因为有这样的优势，学校得以为学生提供了大量的实践机会，特别是将理论学习同实际的研究结合起来的机会。国际上的盛誉，世界一流的具有艺术造型的设施，加上它位于气候宜人、风光如画的温哥华市，因此每年吸引了全世界众多的学子前来就读。谦虚、好学、智慧是UBC成功的素质，“研究”是UBC的主流。
        </p>
    </div>


    <div class="container text-center margin-bottom">
        <h1>
            设施方面
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            学校还拥有12000公顷的森林和农庄。校园里遍布郁郁葱葱的树林，绵延的海岸线，山脉、森林、海洋、沙滩点缀其间, 号称是整个北美最漂亮的校园。该校校园有建筑物200多栋，包括多座学术及生活设施。包括图书馆、科研中心、天文观测站、娱乐场馆、文化中心、医院和博物馆等。其中图书馆是全加第三大图书馆。在博物馆里陈列着数千年历史的世界文化遗产，并展示了45亿年的地球史。
        </p>
    </div>

    <div class="container text-center margin-bottom" id="hex">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>恒心名校直通车
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
        <p class="normal-p" style="color: orangered"><strong>Development Case + 校董提名 + Admission Office，恒心独家一手资源，助你稳稳走进名校大门</strong></p>
    </div>

    <div class="container">
        <div class="container text-center margin-bottom">
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/index/b.png" alt="">
                </div>
                <h2>本科材料</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>高中成绩</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>SAT/ACT/SATII， 部分专业可免SAT/ACT</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>托福成绩, 部分学校接受四年美高可免托福成绩</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>CV&PS</h5>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                    <img src="/static/images/index/m.png" alt="">
                </div>
                <h2>硕士材料</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            本科成绩单
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            GRE/GMAT, 部分学校可免GRE/GMAT
                        </h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            托福成绩
                        </h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            CV&PS
                        </h5>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="container text-center margin-bottom" id="hex">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>名校直通车办理流程
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
    </div>
    <div class="container text-center margin-bottom">
        <label class="tag">
            提交材料
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            选择学校
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            可行性分析
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            签约
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            定金支付
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            出具offer后 付清尾款
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            办理入学手续
        </label>

    </div>
{% endblock %}