{% extends 'inc/master.html' %}

{% block title %}
    维多利亚大学
{% endblock %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#apply').prop('class', 'active');
        });
    </script>
{% endblock %}


{% block content %}
    <section id="home-slider" class="margin-bottom" style="background: none;">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <img src="/static/images/mx/12.jpg" class="slider-school" alt="留学申请">
                    <div class="slider-summary">
                        <h1>维多利亚大学</h1>
                        <p class="normal-p">世界综合排名:248</p>
                        <p class="normal-p">优势学院：经济学院，商学院，艺术学院，工程学院</p>
                        <p class="normal-p">招生地址：University of Victoria 3800 Finnerty Road Victoria BC V8P 5C2 Canada</p>
                        <p class="normal-p">招生电话：1-250-721-7211</p>
                        <p class="normal-p">录取率：<strong style="color:rgb(192, 48, 53);">45%</strong></p>
                        <p class="normal-p">留学费用/学年：
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>本科学费：CAD16000-22000
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>研究生学费：CAD20000-352000
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>年均生活费：$11,000 to $15,000
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>住宿费：单人房约为7000-8000加元；双人房约为6000-7000加元
                        </p>
{#                        <a href="http://www.du.edu/apply/index.html" class="btn btn-common">访问官网</a>#}
                    </div>

                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>

    <div class="container text-center margin-bottom">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>录取条件
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
    </div>

    <div class="container">
        <div class="container text-center margin-bottom">
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/index/b.png" alt="">
                </div>
                <h2>本科</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>学历要求：高中毕业，提交会考成绩，建议提交高考成绩或SAT成绩</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>学习成绩：建议85-90以上</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>IBT/IELTS：90(单项20) /6.5(单项6.0)</h5>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                    <img src="/static/images/index/m.png" alt="">
                </div>
                <h2>硕士</h2>
{#                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">#}
{#                    <span class="icon">#}
{#                        <i class="fa fa-check"></i>#}
{#                    </span>#}
{#                    <div class="feature-copy text-left">#}
{#                        <h5>#}
{#                            正规大学四年制本科毕业并取得学士学位#}
{#                        </h5>#}
{#                    </div>#}
{#                </div>#}

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            学历要求：本科毕业，相关专业背景
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            平均分：3.0以上
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            IBT/IELTS：90(单项20)/6.5(单项6.0)　
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            商科提交GMAT，理文工建议提交GRE
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 text-center" >
            <a href="#hex" class="btn btn-error" style="margin-top: 0;">分数不够怎么办，恒心来帮你</a>
        </div>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            院校简介
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            维多利亚大学(英语：University of Victoria，简称UVic)位于加拿大不列颠哥伦比亚省首府地区的萨尼奇和橡树湾，离首府维多利亚市中心东北约6公里，是该省历史第二悠久的公立大学。维多利亚大学在1963年正式成立，吸收建于1903年的维多利亚学院。维多利亚大学属于中型综合大学。
        </p>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            学术

        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            维多利亚大学是不列颠哥伦比亚省第二大接受校外科研资助和合同基金的大学。她与世界各地27个国家的118个机构建有联系，其中还包括9个亚洲国家。维多利亚大学是加拿大三大有半工半读“合作教育”(co-op education program)项目的大学。项目中的学生上课学期和工作学期交替进行，即可攻读学位，又可获得与所学知识有关的工作经验和经历，同时为毕业后找到一份与学业对口的理想的工作打下良好基础。在1998到1999学年度，学校有2774名学生完成了这一项目学习，其中有226名是在海外其他国家完成工作学期的。维多利亚大学是加拿大唯一一所提供法律、健康讯息科学、教练研究、专业写作的“合作教育”的大学。值得一提的是这其中最大的“商务合作”重点是在亚太。
        </p>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            学科设置
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            维多利亚大学是一所多学科的综合性大学，校内设有经济学院，教育学院，工程学院，法学院，人类和社会发展学院，人文学院，社会科学学院，自然科学学院等多个学院和专业。
        </p>
    </div>


    <div class="container text-center margin-bottom">
        <h1>
            设施方面
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            学校建立了许多研究中心，以鼓励和加强它们的研究活动。学校的研究中心主要是加强与国内、外的关系，学院的教务中心主要是进行专业研究和培训。每个校园都有现代化的计算机房，提供各种服务软件，如微软视窗、视窗基础桌面操作软件。学生服务中心提供一系列的服务，包括：个人问题咨询、住宿信息、幼儿园、财务咨询，对海外学生的支持与就业信息收集。室内运动场可以打排球、网球、和篮球，还有健康中心和其他许多设施。每个校园都为学生提供机会加入众多俱乐部和社团组织。国际学生协会是主要的组织，它是学校里海外留学生的主要代表。
        </p>
    </div>

    <div class="container text-center margin-bottom" id="hex">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>恒心名校直通车
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
        <p class="normal-p" style="color: orangered"><strong>如果你有颗名校深造的心，却没有进得去TOP100的成绩，恒心就来带你体验弯道超车的快感。</strong></p>
    </div>

    <div class="container">
        <div class="container text-center margin-bottom">
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/index/b.png" alt="">
                </div>
                <h2>本科材料</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>高中成绩</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>SAT/ACT/SATII， 部分专业可免SAT/ACT</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>托福成绩, 部分学校接受四年美高可免托福成绩</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>CV&PS</h5>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                    <img src="/static/images/index/m.png" alt="">
                </div>
                <h2>硕士材料</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            本科成绩单
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            GRE/GMAT, 部分学校可免GRE/GMAT
                        </h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            托福成绩
                        </h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            CV&PS
                        </h5>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="container text-center margin-bottom" id="hex">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>名校直通车办理流程
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
    </div>
    <div class="container text-center margin-bottom">
        <label class="tag">
            提交材料
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            选择学校
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            可行性分析
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            签约
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            定金支付
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            出具offer后 付清尾款
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            办理入学手续
        </label>

    </div>
{% endblock %}