{% extends 'inc/master.html' %}

{% block title %}
    本研申请
{% endblock %}

{% block head %}
    <link href="../../static/css/jqvmap.css" media="screen" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../static/js/jquery.vmap.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery.vmap.usa.js" charset="utf-8"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#vmap').vectorMap({
                map: 'usa_en',
                backgroundColor:'#ffffff',
                borderColor: '#818181',
                borderOpacity: 0.25,
                borderWidth: 1,
                color:'#999999',
                selectedColor: '#ffffff',
                enableZoom: false,
                showTooltip: true,
{#                showLabels:true,#}
{#                selectedColor: null,#}
{#                hoverColor: null,#}
                hoverColor: '#c9dfaf',
                colors: {
                    mo: '#C9DFAF',
                    fl: '#C9DFAF',
                    or: '#C9DFAF'
                },
                onRegionClick: function(event, code, region){
                    event.preventDefault();
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div id="vmap" style="width: 80%; height: 500px; margin:0 auto"></div>
{% endblock %}