{% extends 'inc/master.html' %}

{% block title %}

{% endblock %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#apply').prop('class', 'active');
        });
    </script>
{% endblock %}


{% block content %}
{#    style="background-image: url(../../static/images/detailbg.jpg); min-height: 794px;"#}
    <section id="intro" class="intro-hero" >
		<div class="container" style="height: 794px;">
            <div class="col-xs-6" style="height:100%">
			<div class="intro-img ">
				<img src="/static/images/test.png" class="wide">
			</div>
            </div>
            <div class="col-xs-6">
			<div class="intro-content col-xs-6">
				<h1>宾夕法尼亚大学</h1>
				<h1></h1>
			</div>
            </div>
		</div>
	</section>

{% endblock %}