{% extends 'inc/master.html' %}

{% block title %}

{% endblock %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#certification').prop('class', 'active');
        });
    </script>
{% endblock %}

{% block content %}
    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slider-text">
                        <h1>学历学位认证</h1>
                        <p>既然当初踌躇满志的去了，哪有半途而废败兴而退的道理？恒心定制专业解决方案，一定让你满载而归。</p>
                        {#                        <a href="#" class="btn btn-common">SIGN UP</a>#}
                    </div>
                    <img src="/static/images/home/slider/hill.png" class="slider-hill" alt="slider image">
                    <img src="/static/images/home/slider/house1.png" class="slider-house" alt="slider image">
                    <img src="/static/images/home/slider/sun.png" class="slider-sun" alt="slider image">
                    <img src="/static/images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
                    <img src="/static/images/home/slider/birds2.png" class="slider-birds2" alt="slider image">
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>

    <section id="wangke" class="choose">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0ms">
                    <img src="/static/images/services/4.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0ms">
                    <h2>什么是学历学位认证？</h2>
                    <p>国（境）外学历学位获取是在中国大陆范围内对于国（境）外文凭的真实有效性以及同中国大陆学历学位体系对应关系的权威的确认方式。用于鉴别国外学历学位颁发机构的合法性，甄别国外学历学位的真实有效性，并与我国学历学位相对应关系提出咨询意见。也就是说，不认证国（境）外学历学位，等于其国外学历回国国内不受认可，相当于没留过学，可用学历只是出国留学前的学历</p>
                </div>
            </div>
        </div>
    </section>

    <div class="container text-center">
        <h2>为什么选择我们？</h2>
    </div>


    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/static/images/home/icon1.png" alt="">
                        </div>
                        <h2>Incredibly Responsive</h2>
                        <p>Ground round tenderloin flank shank ribeye. Hamkevin meatball swine. Cow shankle beef sirloin chicken ground round.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/static/images/home/icon2.png" alt="">
                        </div>
                        <h2>Superior Typography</h2>
                        <p>Hamburger ribeye drumstick turkey, strip steak sausage ground round shank pastrami beef brisket pancetta venison.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="/static/images/home/icon3.png" alt="">
                        </div>
                        <h2>Swift Page Builder</h2>
                        <p>Venison tongue, salami corned beef ball tip meatloaf bacon. Fatback pork belly bresaola tenderloin bone pork kevin shankle.</p>
                    </div>
                </div>

                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/static/images/services/1.png" alt="">
                        </div>
                        <h2>Incredibly Responsive</h2>
                        <p>Ground round tenderloin flank shank ribeye. Hamkevin meatball swine. Cow shankle beef sirloin chicken ground round.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/static/images/services/2.png" alt="">
                        </div>
                        <h2>Superior Typography</h2>
                        <p>Hamburger ribeye drumstick turkey, strip steak sausage ground round shank pastrami beef brisket pancetta venison.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="/static/images/services/3.png" alt="">
                        </div>
                        <h2>Swift Page Builder</h2>
                        <p>Venison tongue, salami corned beef ball tip meatloaf bacon. Fatback pork belly bresaola tenderloin bone pork kevin shankle.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->

    <div class="container text-center">
        <h2>申请学历学位获取所需材料</h2>
        <div class="col-xs-6">
            <div class="feature-left animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
                <span class="icon">
                    <i class="fa fa-bar-chart"></i>
                </span>
                <div class="feature-copy">
                    <h5>二寸彩色证件照片（蓝色背景）</h5>
                </div>
            </div>

            <div class="feature-left animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
                <span class="icon">
                    <i class="fa fa-adjust"></i>
                </span>
                <div class="feature-copy">
                    <h5>需要获取的国外源语言（颁发证书院校国家的官方语言）学位证书或高等教育文凭正本原件及复印件</h5>
                </div>
            </div>

            <div class="feature-left animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
                <span class="icon">
                    <i class="fa fa-bar-chart"></i>
                </span>
                <div class="feature-copy">
                    <h5>需要获取学位证书或高等教育文凭所学课程完整的正式成绩单原件及复印件</h5>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="feature-left animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
                <span class="icon">
                    <i class="fa fa-angle-double-up"></i>
                </span>
                <div class="feature-copy">
                    <h5>需要获取的国外学位证书（高等教育文凭）和成绩单（研究证明信）的中文翻译件原件（须经正规翻译机构（公司）进行翻译，个人翻译无效）</h5>
                </div>
            </div>

            <div class="feature-left animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
                <span class="icon">
                    <i class="fa fa-angle-double-up"></i>
                </span>
                <div class="feature-copy">
                    <h5>申请者留学期间所有护照（含所有留学期间的签证记录及出入境记录）原件及复印件</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="text-center">Frequently Ask Questions</h2>

        <div class="col-md-6">

            <div class="gtco-accordion">
                <div class="gtco-accordion-heading">
                    <div class="icon"><i class="fa fa-plus"></i></div>
                    <h3>What is Asymmetry?</h3>
                </div>
                <div class="gtco-accordion-content">
                    <div class="inner">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
            </div>
            <div class="gtco-accordion">
                <div class="gtco-accordion-heading">
                    <div class="icon"><i class="fa fa-plus"></i></div>
                    <h3>I have technical problem, who do I email?</h3>
                </div>
                <div class="gtco-accordion-content">
                    <div class="inner">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
            </div>
            <div class="gtco-accordion">
                <div class="gtco-accordion-heading">
                    <div class="icon"><i class="fa fa-plus"></i></div>
                    <h3>How do I use Asymmetry features?</h3>
                </div>
                <div class="gtco-accordion-content">
                    <div class="inner">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6">

            <div class="gtco-accordion">
                <div class="gtco-accordion-heading">
                    <div class="icon"><i class="fa fa-plus"></i></div>
                    <h3>What is Asymmetry?</h3>
                </div>
                <div class="gtco-accordion-content">
                    <div class="inner">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
            </div>
            <div class="gtco-accordion">
                <div class="gtco-accordion-heading">
                    <div class="icon"><i class="fa fa-plus"></i></div>
                    <h3>I have technical problem, who do I email?</h3>
                </div>
                <div class="gtco-accordion-content">
                    <div class="inner">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
            </div>
            <div class="gtco-accordion">
                <div class="gtco-accordion-heading">
                    <div class="icon"><i class="fa fa-plus"></i></div>
                    <h3>How do I use Asymmetry features?</h3>
                </div>
                <div class="gtco-accordion-content">
                    <div class="inner">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}