{% extends 'inc/master.html' %}

{% block title %}
    学历学位认证{% endblock %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#certification').prop('class', 'active');
        });
    </script>
{% endblock %}

{% block content %}
    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slider-text">
                        <h1>学历学位认证</h1>
                        <p class="normal-p">既然当初踌躇满志的去了，哪有半途而废败兴而退的道理？恒心定制专业解决方案，一定让你满载而归。</p>
                        {#                        <a href="#" class="btn btn-common">SIGN UP</a>#}
                    </div>
                    <img src="/static/images/home/slider/hill.png" class="slider-hill" alt="slider image">
                    <img src="/static/images/home/slider/house.png" class="slider-home" alt="slider image">
                    <img src="/static/images/home/slider/sun.png" class="slider-sun" alt="slider image">
                    <img src="/static/images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
                    <img src="/static/images/home/slider/birds2.png" class="slider-birds2" alt="slider image">
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>

    <section class="choose pad">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0ms">
                    <img src="/static/images/index/学历学位认证.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 wow padding fadeInDown" data-wow-duration="1000ms" data-wow-delay="0ms">
{#                    <p><img src="/static/images/left-top.png"></p>#}

                    <h2 class="text-left">什么是学历学位认证？</h2>
{#                    <i class="fa fa-quote-right fa-2x pull-right "></i>#}
{#                    <p class="text-right"><img src="/static/images/right-down.png"></p>#}

                    <p class="normal-p ">
                        <i class="fa fa-quote-left fa-3x pull-left fa-border"></i>
                        国（境）外学历学位获取是在中国大陆范围内对于国（境）外文凭的真实有效性以及同中国大陆学历学位体系对应关系的权威的确认方式。用于鉴别国外学历学位颁发机构的合法性，甄别国外学历学位的真实有效性，并与我国学历学位相对应关系提出咨询意见。也就是说，不认证国（境）外学历学位，等于其国外学历回国国内不受认可，相当于没留过学，可用学历只是出国留学前的学历。</p>
                </div>
            </div>
        </div>
    </section>
    <div class="container text-center">
        <h1 class="">
{#            <img src="/static/images/aboutus/bg.png" class="margin-bottom" alt="学历学位认证-四川恒心前途教育咨询有限公司">#}
            <i class="fa fa-question-circle-o fa-2x" style="color:gold;margin-right: 10px;"></i>为什么选择我们？
        </h1>
    </div>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/static/images/home/icon1.png" alt="">
                        </div>
                        {#                        <h2>Incredibly Responsive</h2>#}
                        <p class="text-left normal-p"><i class="fa fa-angle-right"></i>学历获取直接获取资源，没有中介收取介绍费用，只有更低的价格，更快的速度，贴心的服务</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/static/images/home/icon2.png" alt="">
                        </div>
                        <p class="text-left normal-p"><i class="fa fa-angle-right"></i>
                            除客服的及时反馈外，恒心官网还拥有定制会员系统，可随时查询进度
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="/static/images/home/icon3.png" alt="">
                        </div>
                        <p class="text-left normal-p"><i class="fa fa-angle-right"></i>
                            在中国教育部与美国全国学生信息中心（NSC）联网，其他机构获取成功率下降的艰难环境下，恒心仍能保持80%以上的成功几率
                        </p>
                    </div>
                </div>

                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/static/images/services/1.png" alt="">
                        </div>
                        <p class="text-left normal-p"><i class="fa fa-angle-right"></i>
                            多手准备，提供配套应急方案，总能找到最合适你的解决办法
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/static/images/services/2.png" alt="">
                        </div>
                        <p class="text-left normal-p"><i class="fa fa-angle-right"></i>
                            如果获取结果失败，恒心保证退还所有费用
                        </p>
                    </div>
                </div>
                {#                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">#}
                {#                    <div class="single-service">#}
                {#                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">#}
                {#                            <img src="/static/images/services/3.png" alt="">#}
                {#                        </div>#}
                {#                        <p class="text-left normal-p"><i class="fa fa-angle-right"></i>#}
                {#                            在中国教育部与美国全国学生信息中心（NSC）联网，其他机构获取成功率下降的艰难环境下，恒心仍能保持80%以上的成功几率#}
                {#                        </p>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </div>
    </section>
    <!--/#services-->
    <div class="container text-center margin-bottom">
        <h1 class="">
             <i class="fa fa-file-text-o fa-2x" style="color:lightblue;margin-right: 10px;"></i>申请学历学位认证所需材料
        </h1>
    </div>
    <div class="container text-center margin-bottom">
        <div class="col-sm-6">
            <div class="feature-left fadeInLeft wow" data-wow-duration="1000ms" data-wow-delay="600ms">
                <span class="icon">
                    <i class="fa fa-photo"></i>
                </span>
                <div class="feature-copy text-left">
                    <h5>二寸彩色证件照片（蓝色背景）</h5>
                </div>
            </div>

            <div class="feature-left fadeInLeft wow" data-wow-duration="1000ms" data-wow-delay="600ms">
                <span class="icon">
                    <i class="fa fa-file-photo-o "></i>
                </span>
                <div class="feature-copy text-left">
                    <h5>需要获取的国外源语言（颁发证书院校国家的官方语言）学位证书或高等教育文凭正本原件及复印件</h5>
                </div>
            </div>

            <div class="feature-left fadeInLeft wow" data-wow-duration="1000ms" data-wow-delay="600ms">
                <span class="icon">
                    <i class="fa fa-file-text"></i>
                </span>
                <div class="feature-copy text-left">
                    <h5>需要获取学位证书或高等教育文凭所学课程完整的正式成绩单原件及复印件</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="feature-left fadeInLeft wow" data-wow-duration="1000ms" data-wow-delay="600ms">
            <span class="icon">
                    <i class="fa fa-copy"></i>
                </span>
            <div class="feature-copy text-left">
                <h5>需要获取的国外学位证书（高等教育文凭）和成绩单（研究证明信）的中文翻译件原件（须经正规翻译机构（公司）进行翻译，个人翻译无效）</h5>
            </div>
        </div>

        <div class="feature-left fadeInLeft wow" data-wow-duration="1000ms" data-wow-delay="600ms">
                <span class="icon">
                    <i class="fa fa-vcard"></i>
                </span>
            <div class="feature-copy text-left">
                <h5>申请者留学期间所有护照（含所有留学期间的签证记录及出入境记录）原件及复印件</h5>
            </div>
        </div>
    </div>
    </div>


    <div class="container text-center margin-bottom">
        <h1 class="">
             <i class="fa fa-user-o fa-2x" style="color:mediumpurple;margin-right: 10px;"></i>快速问答
        </h1>
    </div>
{#    <div class="container text-center margin-bottom">#}
{#        <h1 class="">#}
{#            <img src="/static/images/aboutus/bg.png" class="margin-bottom" alt="学历学位认证-四川恒心前途教育咨询有限公司">#}
{#            快速问答#}
{#        </h1>#}
{#    </div>#}
    <div class="container margin-bottom">

        <div class="col-md-6">

            <div class="gtco-accordion">
                <div class="gtco-accordion-heading">
                    <div class="icon"><i class="fa fa-plus"></i></div>
                    <h3 class="normal">从申请到认证成功，一般周期是多久？</h3>
                </div>
                <div class="gtco-accordion-content">
                    <div class="inner">
                        <p class="normal-p">学生资料齐全，正常毕业情况下，认证只需5-7天即可完成；若是非正常毕业（因各种原因未能顺利取得毕业证）的情况下，认证则需1-2个月。</p>
                    </div>
                </div>
            </div>
            <div class="gtco-accordion">
                <div class="gtco-accordion-heading">
                    <div class="icon"><i class="fa fa-plus"></i></div>
                    <h3 class="normal">所有地区都可以完成学历认证吗？</h3>
                </div>
                <div class="gtco-accordion-content">
                    <div class="inner">
                        <p class="normal-p">目前恒心学历学位认证业务多针对欧洲和北美地区大部分国家，和韩国、新加坡的部分学校，详细学校情况，可点击右下方对话按钮，向客服进行咨询。</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6">

            <div class="gtco-accordion">
                <div class="gtco-accordion-heading">
                    <div class="icon"><i class="fa fa-plus"></i></div>
                    <h3 class="normal">不同学校的认证成功率是相同的吗？</h3>
                </div>
                <div class="gtco-accordion-content">
                    <div class="inner">
                        <p class="normal-p">只要是恒心认证业务范畴内的学校，均能做到100%的认证成功率。</p>
                    </div>
                </div>
            </div>
            <div class="gtco-accordion">
                <div class="gtco-accordion-heading">
                    <div class="icon"><i class="fa fa-plus"></i></div>
                    <h3 class="normal">申请后，怎样指导认证进度呢？</h3>
                </div>
                <div class="gtco-accordion-content">
                    <div class="inner">
                        <p class="normal-p">恒心客服24小时在线，随时可以展开进程咨询；此外，申请成功后，客户将自动成为恒心会员，一键登陆会员系统，即可查询认证进度。</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container text-center margin-bottom">
        <h1 class="">
            <img src="/static/images/aboutus/bg.png" class="margin-bottom" alt="学历学位认证-四川恒心前途教育咨询有限公司">
             办理流程
        </h1>
    </div>
    <div class="container text-center margin-bottom">
        <img src="/static/images/index/cflow.png" style="width: 70%;">
    </div>

{##}
{#    <div class="container text-center margin-bottom">#}
{#        <h1 class="">#}
{#            <img src="/static/images/aboutus/bg.png" class="margin-bottom" alt="学历学位认证-四川恒心前途教育咨询有限公司">#}
{#            成功案例#}
{#        </h1>#}
{#    </div>#}
{##}
{#    <section id="case" class="margin-bottom">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div id="customer-carousel" class="carousel slide wow fadeIn" data-ride="carousel" data-wow-duration="400ms" data-wow-delay="400ms" >#}
{#                    <!-- Indicators -->#}
{#                    <ol class="carousel-indicators visible-xs">#}
{#                        <li data-target="#customer-carousel" data-slide-to="0" class="active"></li>#}
{#                        <li data-target="#customer-carousel" data-slide-to="1"></li>#}
{#                    </ol>#}
{#                    <!-- Wrapper for slides -->#}
{#                    <div class="carousel-inner">#}
{#                        <div class="item active">#}
{#                            <div class="col-sm-3 col-xs-6">#}
{#                                <div class="team-member">#}
{#                                    <img src="/static/images/aboutus/1.jpg" class="img-responsive " alt="Person">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-sm-3 col-xs-6">#}
{#                                <div class="team-member">#}
{#                                    <img src="/static/images/aboutus/2.jpg" class="img-responsive " alt="Person">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-sm-3 col-xs-6">#}
{#                                <div class="team-member">#}
{#                                    <img src="/static/images/aboutus/3.jpg" class="img-responsive " alt="Person">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-sm-3 col-xs-6">#}
{#                                <div class="team-member">#}
{#                                    <img src="/static/images/aboutus/4.jpg" class="img-responsive " alt="Person">#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="item">#}
{#                            <div class="col-sm-3 col-xs-6">#}
{#                                <div class="team-member">#}
{#                                    <img src="/static/images/aboutus/10.jpg" class="img-responsive " alt="Person">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-sm-3 col-xs-6">#}
{#                                <div class="team-member">#}
{#                                    <img src="/static/images/aboutus/2.jpg" class="img-responsive " alt="Person">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-sm-3 col-xs-6">#}
{#                                <div class="team-member">#}
{#                                    <img src="/static/images/aboutus/3.jpg" class="img-responsive " alt="Person">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-sm-3 col-xs-6">#}
{#                                <div class="team-member">#}
{#                                    <img src="/static/images/aboutus/4.jpg" class="img-responsive " alt="Person">#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <!-- Controls -->#}
{#                    <a class="left team-carousel-control hidden-xs" href="#customer-carousel" data-slide="prev">left</a>#}
{#                    <a class="right team-carousel-control hidden-xs" href="#customer-carousel" data-slide="next">right</a>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </section>#}


{% endblock %}