{% extends 'inc/master.html' %}

{% block title %}

{% endblock %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#live').prop('class', 'active');
            $('#eb3').prop('class', 'active');
        });
    </script>
{% endblock %}

{% block content %}

    <section id="error-page">
        <div class="error-page-inner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <div class="bg-404 margin-bottom">
                                <div class="error-image">
                                    <img class="img-responsive" src="/static/images/index/EB3.png" alt="">
                                </div>
                            </div>
                            <h1 class="margin-bottom">什么是美国EB-3 职业移民？</h1>
                            <div class="container margin-bottom">
                                <p class="normal-p">职业移民第三优先类别包括熟练工人、学士学位持有者以及其它工人。第三优先类别的名额也为每年约40,000个（占职业移民名额总数的28.6%），以及本年度第一和第二优先类别的剩余名额。但非熟练工人的名额数不得超过10,000个，所有第三类别的I-140申请都需要由雇主提交。</p>
                            </div>

                            <div class="container margin-bottom">
                                <div class="col-xs-4">
                                    <div class="circle-wrap">
                                        <span class="mode"><strong>熟练工人</strong></span>
                                        <span class="normal-p">申请人必须能够胜任至少需要两年培训或工作经验的工作</span>
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="circle-wrap">
                                        <span class="mode"><strong>专业技术人员</strong></span>
                                        <span class="normal-p">拥有学士学位的申请人</span>
                                    </div>
                                </div>


                                <div class="col-xs-4">

                                    <div class="circle-wrap">
                                        <span class="mode"><strong>其它工人</strong></span>
                                        <span class="normal-p">申请人能够胜任不需要两年培训或工作经验的工作</span>
                                    </div>

                                </div>
                            </div>

                            <div class="container text-center margin-bottom">
                                <div class="col-xs-6">
                                    <h2 class="text-left margin-bottom">EB-3移民所需条件：</h2>
                                    <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                                        <span class="icon">
                                            <span class="number">1</span>
                                        </span>
                                        <div class="feature-copy text-left">
                                            <h5>
                                                年龄21-55岁
                                            </h5>
                                        </div>
                                    </div>

                                    <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                                        <span class="icon">
                                            <span class="number">2</span>
                                        </span>
                                        <div class="feature-copy text-left">
                                            <h5>
                                                非技术类初中以上，专业技术类高中或职业技术专业以上学历
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                                        <span class="icon">
                                            <span class="number">3</span>
                                        </span>
                                        <div class="feature-copy text-left">
                                            <h5>
                                                无语言要求，专业技术类需基础的英语以上
                                            </h5>
                                        </div>
                                    </div>

                                    <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                                        <span class="icon">
                                            <span class="number">4</span>
                                        </span>
                                        <div class="feature-copy text-left">
                                            <h5>
                                                两年以上相关工作经验，非技术类只需两年工作经验以下
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                                        <span class="icon">
                                            <span class="number">5</span>
                                        </span>
                                        <div class="feature-copy text-left">
                                            <h5>
                                                身体健康，无犯罪记录史
                                            </h5>
                                        </div>
                                    </div>

                                    <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                                        <span class="icon">
                                            <span class="number">6</span>
                                        </span>
                                        <div class="feature-copy text-left">
                                            <h5>
                                                有一定经济基础优先（最好10万美元资产以上）
                                            </h5>
                                        </div>
                                    </div>

                                </div>



                                <div class="col-xs-6">
                                    <h2 class="text-left margin-bottom">恒心配套服务：</h2>
                                    <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                                        <span class="icon">
                                            <span class="number">1</span>
                                        </span>
                                        <div class="feature-copy text-left">
                                            <h5>

                                                技术移民相关政策咨询答疑

                                            </h5>
                                        </div>
                                    </div>

                                    <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                                        <span class="icon">
                                            <span class="number">2</span>
                                        </span>
                                        <div class="feature-copy text-left">
                                            <h5>
                                                美国当地就业培训机构人才输送
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                                        <span class="icon">
                                            <span class="number">3</span>
                                        </span>
                                        <div class="feature-copy text-left">
                                            <h5>
                                                工作签证指导办理
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                                        <span class="icon">
                                            <span class="number">4</span>
                                        </span>
                                        <div class="feature-copy text-left">
                                            <h5>
                                                猎聘网北美总部人才资源数据库录入
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container text-center margin-bottom">
                                <h1 class="">
                                    <img src="/static/images/aboutus/bg.png" class="margin-bottom" alt="落户">
                                    EB-3 移民办理流程
                                </h1>
                            </div>

                            <div class="container text-center margin-bottom">
                                <img src="/static/images/services/eb3.png" style="width: 100%;height: auto">
                            </div>

                            {#                            <a href="index.html" class="btn btn-error">RETURN TO THE HOMEPAGE</a>#}
                            {#                            <div class="social-link">#}
                            {#                                <span><a href="#"><i class="fa fa-facebook"></i></a></span>#}
                            {#                                <span><a href="#"><i class="fa fa-twitter"></i></a></span>#}
                            {#                                <span><a href="#"><i class="fa fa-google-plus"></i></a></span>#}
                            {#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}