{% extends 'inc/master.html' %}

{% block title %}
学术辅导{% endblock %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#guidance').prop('class', 'active');
        });
    </script>
{% endblock %}

{% block content %}



    <section id="home-slider" style="background: url(../../static/images/web/g/q75.png) repeat-x bottom">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slider-text">
                        <h1>学术辅导</h1>
                        {#                        <p>Boudin doner frankfurter pig. Cow shank bresaola pork loin tri-tip tongue venison pork belly meatloaf short loin landjaeger biltong beef ribs shankle chicken andouille.</p>#}
                        {#                        <a href="#" class="btn btn-common">SIGN UP</a>#}
                    </div>
                    <img src="/static/images/web/g/q70.png" class="slider-hill" alt="slider image">
                    <img src="/static/images/web/g/q71.png" class="slider-house" alt="slider image">
                    <img src="/static/images/web/g/q72.png" class="slider-sun" alt="slider image">
                    <img src="/static/images/web/g/q73.png" class="slider-birds1" alt="slider image">
                    <img src="/static/images/web/g/q74.png" class="slider-birds1" alt="slider image">
                </div>
            </div>
        </div>
{#        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>#}
    </section>

    <div class="container text-center">
        <h1 class="">
            <img src="/static/images/web/g/q45.png" class="margin-bottom" alt="学历学位认证-四川恒心前途教育咨询有限公司">
            我们能帮你做什么
        </h1>
    </div>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="/static/images/web/g/q12.png" alt="">
                        </div>
                        <h2>论文提升</h2>
                        <p class="text-left normal-p"><i class="fa fa-angle-right"></i>提高写作技巧与学术写作能力</p>
                        <p class="text-left normal-p"><i class="fa fa-angle-right"></i>规范写作要求，规则，格式</p>
                        <p class="text-left normal-p"><i class="fa fa-angle-right"></i>提供各专业所需相关资源</p>
                    </div>
                </div>
                <div class="col-sm-3 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="/static/images/web/g/q13.png" alt="">
                        </div>
                        <h2>网课梳理</h2>
                        <p class="text-left normal-p"><i class="fa fa-angle-right"></i>
                            网课相关问题答疑
                        </p>
                        <p class="text-left normal-p"><i class="fa fa-angle-right"></i>
                            在线课业咨询与梳理
                        </p>
                        <p class="text-left normal-p"><i class="fa fa-angle-right"></i>
                            任务辅导与考前应急
                        </p>
                    </div>
                </div>
                <div class="col-sm-3 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="/static/images/web/g/q14.png" alt="">
                        </div>
                        <h2>作业辅导</h2>
                        <p class="text-left normal-p"><i class="fa fa-angle-right"></i>
                            题目解读分析
                        </p>
                        <p class="text-left normal-p"><i class="fa fa-angle-right"></i>
                            作品作业的校正与润色
                        </p>
                        <p class="text-left normal-p"><i class="fa fa-angle-right"></i>
                            分组项目的全程跟踪指导
                        </p>
                    </div>
                </div>

                <div class="col-sm-3 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="1200ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="1200ms">
                            <img src="/static/images/web/g/q15.png" alt="">
                        </div>
                        <h2>考前强化</h2>
                        <p class="text-left normal-p"><i class="fa fa-angle-right"></i>
                            IEP、ESL等语言考试辅导
                        </p>
                        <p class="text-left normal-p"><i class="fa fa-angle-right"></i>
                            各专业单科考前辅导
                        </p>
                        <p class="text-left normal-p"><i class="fa fa-angle-right"></i>
                            雅思、托福、GMAT、GRE、SAT等常规考试辅导
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container text-center">
        <h1 class="">
            <img src="/static/images/web/g/q47.png" class="margin-bottom" alt="学历学位认证-四川恒心前途教育咨询有限公司">
            服务范围
        </h1>
    </div>

    <div class="container">
        <div class="price-table2">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="single-table table-one">
                        <div class="table-header">
                            <h2>Essay写作辅导</h2>
                            {#                            <p class="plan-price"><span class="dollar-sign">$</span><span class="price">29</span><span class="month">/ Month</span></p>#}
                        </div>
                        <ul>
                            <li>Custom Essay 定制论文<span><i class="fa fa-check"></i></span></li>
                            <li>Term Paper 学期论文<span><i class="fa fa-check"></i></span></li>
                            <li>Research Paper 研究论文<span><i class="fa fa-check"></i></span> </li>
                            <li>Coursework 课程作业<span><i class="fa fa-check"></i></span></li>
                            <li>Case Study 案例分析<span><i class="fa fa-check"></i></span></li>
                            <li>Lab Report 实验报告<span><i class="fa fa-check"></i></span></li>
                            <li>Speech/Presentation演讲稿<span><i class="fa fa-check"></i></span></li>
                            <li>人物纪实等其他文章<span><i class="fa fa-check"></i></span></li>
                        </ul>
                        <span class="btn-signup">
{#                            <a href="#">sign up</a>#}
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="single-table table-two">
                        <div class="table-header">
                            <h2>毕业论文写作辅导</h2>
                            {#                            <p class="plan-price"><span class="dollar-sign">$</span><span class="price">89</span><span class="month">/ Month</span></p>#}
                        </div>
                        <ul>
                            <li>Abstract摘要<span><i class="fa fa-check"></i></span></li>
                            <li>Introduction Chapter写作<span><i class="fa fa-check"></i></span></li>
                            <li>Literature Review 写作<span><i class="fa fa-check"></i></span> </li>
                            <li>Methodology写作<span><i class="fa fa-check"></i></span></li>
                            <li>Discussion写作<span><i class="fa fa-check"></i></span></li>
                            <li>Thesis Proposal写作 <span><i class="fa fa-check"></i></span></li>
                            <li>Research Proposal写作<span><i class="fa fa-check"></i></span></li>
                            <li>Editing论文润色 <span><i class="fa fa-check"></i></span></li>
                            <li>Proofreading写作 <span><i class="fa fa-check"></i></span></li>
                            <li>Reference写作 <span><i class="fa fa-check"></i></span></li>
                        </ul>
                        <span class="btn-signup">
{#                            <a href="#">sign up</a>#}
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="single-table table-four">
                        <div class="table-header">
                            <h2>网课辅导</h2>
                        </div>
                        <ul>
                            <li>美国高中网课辅导 <span><i class="fa fa-check"></i></span> </li>
                            <li>美国本科网课辅导<span><i class="fa fa-check"></i></span></li>
                            <li>美国研究生网课辅导<span><i class="fa fa-check"></i></span></li>

                            <li>加拿大高中网课辅导 <span><i class="fa fa-check"></i></span></li>
                            <li>加拿大本科网课辅导 <span><i class="fa fa-check"></i></span></li>
                            <li>加拿大研究生网课辅导 <span><i class="fa fa-check"></i></span></li>
                            <li>考前辅导 <span><i class="fa fa-check"></i></span></li>
                            <li>在线网课辅导 <span><i class="fa fa-check"></i></span></li>
                        </ul>
                        <span class="btn-signup">
{#                            <a href="#">sign up</a>#}
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="single-table table-three">
                        <div class="table-header">
                            <h2>其他辅导</h2>
                            {#                            <p class="plan-price"><span class="dollar-sign">$</span><span class="price">299</span><span class="month">/ Month</span></p>#}
                        </div>
                        <ul>
                            <li>Admission Essay出国申请文书<span><i class="fa fa-check"></i></span></li>
                            <li>Scholarship Essay奖学金申请文书<span><i class="fa fa-check"></i></span></li>
                            <li>Personal Statement个人陈述<span><i class="fa fa-check"></i></span> </li>
                            <li>Editing各类申请文书润色<span><i class="fa fa-check"></i></span></li>
                            <li>Power Point Presentation PPT制作<span><i class="fa fa-check"></i></span></li>
                            <li>Multiple Choice Questions 问答卷<span><i class="fa fa-check"></i></span></li>
                            <li>Resume Editing 简历润色<span><i class="fa fa-check"></i></span></li>
                            <li>CV Writing 简历写作辅导<span><i class="fa fa-check"></i></span></li>
                            <li>Cover Letter 求职信写作与润色<span><i class="fa fa-check"></i></span></li>
                        </ul>
                        <span class="btn-signup">
{#                            <a href="#">sign up</a>#}
                        </span>
                    </div>
                </div>

            </div>

        </div><!--/#price-table2-->
        <p class="text-center wow fadeInDown margin-bottom" data-wow-duration="400ms" data-wow-delay="400ms" style="color:#C03035">
            (您可以通过联系我们获取以上辅导的详细信息)
        </p>
            <h1 class="text-center margin-bottom">OR</h1>
        <div class="text-center margin-bottom">
            <a href="#footer" class="btn btn-error text-center" style="margin-top: 0;">联系我们，定制你的专属辅导课程</a>
        </div>
    </div>
    </section>


    <div class="container text-center margin-bottom">
        <h1 class="">
            <img src="/static/images/aboutus/bg.png" class="margin-bottom" alt="学历学位认证-四川恒心前途教育咨询有限公司">
            我们的优势
        </h1>
    </div>

    <div class="container margin-bottom normal" >
        <div class="col-xs-12 text-center">

            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered table-hover">
                    <tbody><tr class="info">
                        <th class="text-center"></th>
                        <th class="text-center">那些耽误过你的辅导“事故”</th>
                        <th class="text-center">恒心给你的学术辅导</th>
                    </tr>
                    <tr class="">
                        <td class="text-center">团队</td>
                        <td class="text-center">无所谓专业能力和学术水平，只要有需求，就有无名的名师</td>
                        <td class="text-center">搜罗TOP100高校优秀毕业/在读生，一个等待着你到访的专业团队</td>
                    </tr>
                    <tr class="">
                        <td class="text-center">沟通</td>
                        <td class="text-center">无所谓耐心与细致，入坑前你是上帝，缴费后祸福由天，好坏都是命
                        </td>
                        <td class="text-center">24小时答疑解惑，你的每一个声音每一种需求，都被我们记在心里，落于行动
                        </td>

                    </tr>
                    <tr class="">
                        <td class="text-center">效率</td>
                        <td class="text-center">上交截止日期临近，你都还没找到答题的切入点</td>
                        <td class="text-center">上交截止日期并不重要，因为我们一定会提前教会你完美的答题套路</td>

                    </tr>
                    <tr class="">
                        <td class="text-center">质量</td>
                        <td class="text-center">不管质量如何，承诺的辅导分析润色都提供了，你挂科好意思赖我？</td>
                        <td class="text-center">如果怕我们调教出的全A太梦幻，你也可以在考试时只发八分力</td>

                    </tr>
                    <tr class="">
                        <td class="text-center">结束</td>
                        <td class="text-center">统一模板指导出统一答案，这大规模作弊的罪名，也不算没由来</td>
                        <td class="text-center">完美，也包括了你思路与作答的独一无二</td>

                    </tr>
                    </tbody></table>
            </div>
        </div>
    </div>
    {#    <section id="action" class="responsive">#}
    {#        <div class="vertical-center">#}
    {#            <div class="container">#}
    {#                <div class="row">#}
    {#                    <div class="action take-tour">#}
    {#                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">#}
    {#                            <h1 class="title">我们的团队</h1>#}
    {#                            <p class="normal-p">我相信，在恒心之前你可能遇到过那些专注于“雪上加霜”的团队，但千万别因他人的过错，放弃下一个改变自己命运的机会。</p>#}
    {#                        </div>#}
    {#                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">#}
    {#                            <div class="tour-button">#}
    {#                                <a href="#" class="btn btn-common">TAKE THE TOUR</a>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
    {##}
    {#    <div class="container text-center margin-bottom">#}
    {#        <h1 class="">#}
    {#            <img src="/static/images/aboutus/bg.png" class="margin-bottom" alt="学术辅导-四川恒心前途教育咨询有限公司">#}
    {#            名师资质#}
    {#        </h1>#}
    {#    </div>#}
    {##}
    {#    <section >#}
    {#        <div class="container margin-bottom">#}
    {#            <div class="row">#}
    {#                <h1 class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">师资介绍</h1>#}
    {#                <p class="text-center wow fadeInDown" data-wow-duration="400ms" data-wow-delay="400ms">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>#}
    {#                    Ut enim ad minim veniam, quis nostrud </p>#}
    {#                <div id="team2-carousel" class="carousel slide wow fadeIn" data-ride="carousel" data-wow-duration="400ms" data-wow-delay="400ms">#}
    {#                    <!-- Indicators -->#}
    {#                    <ol class="carousel-indicators visible-xs">#}
    {#                        <li data-target="#team2-carousel" data-slide-to="0" class="active"></li>#}
    {#                        <li data-target="#team2-carousel" data-slide-to="1"></li>#}
    {#                    </ol>#}
    {#                    <!-- Wrapper for slides -->#}
    {#                    <div class="carousel-inner">#}
    {#                        <div class="item active">#}
    {#                            <div class="col-sm-3 col-sm-6">#}
    {#                                <div class="team-single-wrapper">#}
    {#                                    <div class="team-single">#}
    {#                                        <div class="person-thumb">#}
    {#                                            <img src="/static/images/aboutus/1.jpg" class="img-responsive" alt="">#}
    {#                                        </div>#}
    {#                                        <div class="social-profile">#}
    {#                                            <ul class="nav nav-pills">#}
    {#                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
    {#                                            </ul>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="person-info">#}
    {#                                        <h2>John Doe</h2>#}
    {#                                        <p>CEO &amp; Developer</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="col-sm-3 col-sm-6">#}
    {#                                <div class="team-single-wrapper">#}
    {#                                    <div class="team-single">#}
    {#                                        <div class="person-thumb">#}
    {#                                            <img src="/static/images/aboutus/2.jpg" class="img-responsive" alt="">#}
    {#                                        </div>#}
    {#                                        <div class="social-profile">#}
    {#                                            <ul class="nav nav-pills">#}
    {#                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
    {#                                            </ul>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="person-info">#}
    {#                                        <h2>John Doe</h2>#}
    {#                                        <p>CEO &amp; Developer</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="col-sm-3 col-sm-6">#}
    {#                                <div class="team-single-wrapper">#}
    {#                                    <div class="team-single">#}
    {#                                        <div class="person-thumb">#}
    {#                                            <img src="/static/images/aboutus/3.jpg" class="img-responsive" alt="">#}
    {#                                        </div>#}
    {#                                        <div class="social-profile">#}
    {#                                            <ul class="nav nav-pills">#}
    {#                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
    {#                                            </ul>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="person-info">#}
    {#                                        <h2>John Doe</h2>#}
    {#                                        <p>CEO &amp; Developer</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="col-sm-3 col-sm-6">#}
    {#                                <div class="team-single-wrapper">#}
    {#                                    <div class="team-single">#}
    {#                                        <div class="person-thumb">#}
    {#                                            <img src="/static/images/aboutus/1.jpg" class="img-responsive" alt="">#}
    {#                                        </div>#}
    {#                                        <div class="social-profile">#}
    {#                                            <ul class="nav nav-pills">#}
    {#                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
    {#                                            </ul>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="person-info">#}
    {#                                        <h2>John Doe</h2>#}
    {#                                        <p>CEO &amp; Developer</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="item">#}
    {#                            <div class="col-sm-3 col-sm-6">#}
    {#                                <div class="team-single-wrapper">#}
    {#                                    <div class="team-single">#}
    {#                                        <div class="person-thumb">#}
    {#                                            <img src="/static/images/aboutus/4.jpg" class="img-responsive" alt="">#}
    {#                                        </div>#}
    {#                                        <div class="social-profile">#}
    {#                                            <ul class="nav nav-pills">#}
    {#                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
    {#                                            </ul>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="person-info">#}
    {#                                        <h2>John Doe</h2>#}
    {#                                        <p>CEO &amp; Developer</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="col-sm-3 col-sm-6">#}
    {#                                <div class="team-single-wrapper">#}
    {#                                    <div class="team-single">#}
    {#                                        <div class="person-thumb">#}
    {#                                            <img src="/static/images/aboutus/3.jpg" class="img-responsive" alt="">#}
    {#                                        </div>#}
    {#                                        <div class="social-profile">#}
    {#                                            <ul class="nav nav-pills">#}
    {#                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
    {#                                            </ul>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="person-info">#}
    {#                                        <h2>John Doe</h2>#}
    {#                                        <p>CEO &amp; Developer</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="col-sm-3 col-sm-6">#}
    {#                                <div class="team-single-wrapper">#}
    {#                                    <div class="team-single">#}
    {#                                        <div class="person-thumb">#}
    {#                                            <img src="/static/images/aboutus/2.jpg" class="img-responsive" alt="">#}
    {#                                        </div>#}
    {#                                        <div class="social-profile">#}
    {#                                            <ul class="nav nav-pills">#}
    {#                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
    {#                                            </ul>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="person-info">#}
    {#                                        <h2>John Doe</h2>#}
    {#                                        <p>CEO &amp; Developer</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="col-sm-3 col-sm-6">#}
    {#                                <div class="team-single-wrapper">#}
    {#                                    <div class="team-single">#}
    {#                                        <div class="person-thumb">#}
    {#                                            <img src="/static/images/aboutus/1.jpg" class="img-responsive" alt="">#}
    {#                                        </div>#}
    {#                                        <div class="social-profile">#}
    {#                                            <ul class="nav nav-pills">#}
    {#                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
    {#                                            </ul>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="person-info">#}
    {#                                        <h2>John Doe</h2>#}
    {#                                        <p>CEO &amp; Developer</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {##}
    {#                    <!-- Controls -->#}
    {#                    <a class="left team-carousel-control hidden-xs" href="#team2-carousel" data-slide="prev">left</a>#}
    {#                    <a class="right team-carousel-control hidden-xs" href="#team2-carousel" data-slide="next">right</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
    {##}
    {#   <div class="container text-center margin-bottom">#}
    {#        <h1 class="">#}
    {#            <i class="fa fa-bank fa-2x" style="color:gray;margin-right: 10px;"></i>#}
    {#            合作院校#}
    {#        </h1>#}
    {#    </div>#}
    {#    <section>#}
    {#        <div class="container margin-bottom">#}
    {#            <div class="row">#}
    {#                <h1 class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">合作院校</h1>#}
    {#                <p class="text-center wow fadeInDown" data-wow-duration="400ms" data-wow-delay="400ms">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>#}
    {#                    Ut enim ad minim veniam, quis nostrud </p>#}
    {#                <div id="team-carousel1" class="carousel slide wow fadeIn" data-ride="carousel" data-wow-duration="400ms" data-wow-delay="400ms">#}
    {#                    <!-- Indicators -->#}
    {#                    <ol class="carousel-indicators visible-xs">#}
    {#                        <li data-target="#team-carousel" data-slide-to="0" class="active"></li>#}
    {#                        <li data-target="#team-carousel" data-slide-to="1"></li>#}
    {#                    </ol>#}
    {#                    <!-- Wrapper for slides -->#}
    {#                    <div class="carousel-inner">#}
    {#                        <div class="item active">#}
    {#                            <div class="col-sm-3 col-sm-6">#}
    {#                                <div class="team-single-wrapper">#}
    {#                                    <div class="team-single">#}
    {#                                        <div class="person-thumb">#}
    {#                                            <img src="/static/images/aboutus/1.jpg" class="img-responsive" alt="">#}
    {#                                        </div>#}
    {#                                        <div class="social-profile">#}
    {#                                            <ul class="nav nav-pills">#}
    {#                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
    {#                                            </ul>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="person-info">#}
    {#                                        <h2>John Doe</h2>#}
    {#                                        <p>CEO &amp; Developer</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="col-sm-3 col-sm-6">#}
    {#                                <div class="team-single-wrapper">#}
    {#                                    <div class="team-single">#}
    {#                                        <div class="person-thumb">#}
    {#                                            <img src="/static/images/aboutus/2.jpg" class="img-responsive" alt="">#}
    {#                                        </div>#}
    {#                                        <div class="social-profile">#}
    {#                                            <ul class="nav nav-pills">#}
    {#                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
    {#                                            </ul>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="person-info">#}
    {#                                        <h2>John Doe</h2>#}
    {#                                        <p>CEO &amp; Developer</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="col-sm-3 col-sm-6">#}
    {#                                <div class="team-single-wrapper">#}
    {#                                    <div class="team-single">#}
    {#                                        <div class="person-thumb">#}
    {#                                            <img src="/static/images/aboutus/3.jpg" class="img-responsive" alt="">#}
    {#                                        </div>#}
    {#                                        <div class="social-profile">#}
    {#                                            <ul class="nav nav-pills">#}
    {#                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
    {#                                            </ul>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="person-info">#}
    {#                                        <h2>John Doe</h2>#}
    {#                                        <p>CEO &amp; Developer</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="col-sm-3 col-sm-6">#}
    {#                                <div class="team-single-wrapper">#}
    {#                                    <div class="team-single">#}
    {#                                        <div class="person-thumb">#}
    {#                                            <img src="/static/images/aboutus/1.jpg" class="img-responsive" alt="">#}
    {#                                        </div>#}
    {#                                        <div class="social-profile">#}
    {#                                            <ul class="nav nav-pills">#}
    {#                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
    {#                                            </ul>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="person-info">#}
    {#                                        <h2>John Doe</h2>#}
    {#                                        <p>CEO &amp; Developer</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="item">#}
    {#                            <div class="col-sm-3 col-sm-6">#}
    {#                                <div class="team-single-wrapper">#}
    {#                                    <div class="team-single">#}
    {#                                        <div class="person-thumb">#}
    {#                                            <img src="/static/images/aboutus/4.jpg" class="img-responsive" alt="">#}
    {#                                        </div>#}
    {#                                        <div class="social-profile">#}
    {#                                            <ul class="nav nav-pills">#}
    {#                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
    {#                                            </ul>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="person-info">#}
    {#                                        <h2>John Doe</h2>#}
    {#                                        <p>CEO &amp; Developer</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="col-sm-3 col-sm-6">#}
    {#                                <div class="team-single-wrapper">#}
    {#                                    <div class="team-single">#}
    {#                                        <div class="person-thumb">#}
    {#                                            <img src="/static/images/aboutus/3.jpg" class="img-responsive" alt="">#}
    {#                                        </div>#}
    {#                                        <div class="social-profile">#}
    {#                                            <ul class="nav nav-pills">#}
    {#                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
    {#                                            </ul>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="person-info">#}
    {#                                        <h2>John Doe</h2>#}
    {#                                        <p>CEO &amp; Developer</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="col-sm-3 col-sm-6">#}
    {#                                <div class="team-single-wrapper">#}
    {#                                    <div class="team-single">#}
    {#                                        <div class="person-thumb">#}
    {#                                            <img src="/static/images/aboutus/2.jpg" class="img-responsive" alt="">#}
    {#                                        </div>#}
    {#                                        <div class="social-profile">#}
    {#                                            <ul class="nav nav-pills">#}
    {#                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
    {#                                            </ul>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="person-info">#}
    {#                                        <h2>John Doe</h2>#}
    {#                                        <p>CEO &amp; Developer</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="col-sm-3 col-sm-6">#}
    {#                                <div class="team-single-wrapper">#}
    {#                                    <div class="team-single">#}
    {#                                        <div class="person-thumb">#}
    {#                                            <img src="/static/images/aboutus/1.jpg" class="img-responsive" alt="">#}
    {#                                        </div>#}
    {#                                        <div class="social-profile">#}
    {#                                            <ul class="nav nav-pills">#}
    {#                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
    {#                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
    {#                                            </ul>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="person-info">#}
    {#                                        <h2>John Doe</h2>#}
    {#                                        <p>CEO &amp; Developer</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {##}
    {#                    <!-- Controls -->#}
    {#                    <a class="left team-carousel-control hidden-xs" href="#team-carousel1" data-slide="prev">left</a>#}
    {#                    <a class="right team-carousel-control hidden-xs" href="#team-carousel1" data-slide="next">right</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}


{% endblock %}