{% extends 'inc/master.html' %}

{% block title %}
生活辅助{% endblock %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#live').prop('class', 'active');
        });
    </script>
{% endblock %}

{% block content %}
    <section id="home-slider" style="background: url(../../static/images/web/g/q75.png) repeat-x bottom">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slider-text">
                        <h1>生活辅助</h1>
                        <p>Boudin doner frankfurter pig. Cow shank bresaola pork loin tri-tip tongue venison pork belly meatloaf short loin landjaeger biltong beef ribs shankle chicken andouille.</p>
                        <a href="#" class="btn btn-common">SIGN UP</a>
                    </div>
                    <img src="/static/images/web/g/q70.png" class="slider-joker" alt="slider image">
                    <img src="/static/images/web/g/q71.png" class="slider-bear" alt="slider image">
                    <img src="/static/images/web/g/q72.png" class="slider-monkey" alt="slider image">
                    <img src="/static/images/web/g/q73.png" class="slider-train" alt="slider image">
                    <img src="/static/images/web/g/q74.png" class="slider-rabbit" alt="slider image">

                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>

    <div class="container">
        <div class="col-md-6">
            <div class="gtco-card-item has-text">
                <figure>
                    <div class="overlay"><i class="fa fa-plus"></i></div>
                    <img src="/static/images/blog/timeline/1.jpg" alt="Image" class="img-responsive">
                </figure>
                <div class="gtco-text text-left">
                    <h2>自然</h2>
                    <ul class="elements">
                        <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i class="fa fa-angle-right"></i>蝴蝶馆</li>
                        <li class="wow fadeInUp" data-wow-duration="800ms" data-wow-delay="200ms"><i class="fa fa-angle-right"></i>Glenwood 温泉</li>
                        <li class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms"><i class="fa fa-angle-right"></i>Botanic 植物园</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="gtco-card-item has-text">
                <figure>
                    <div class="overlay"><i class="ti-plus"></i></div>
                    <img src="/static/images/blog/timeline/1.jpg" alt="Image" class="img-responsive">
                </figure>
                <div class="gtco-text text-left">
                    <h2>自然</h2>
                    <ul class="elements">
                        <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i class="fa fa-angle-right"></i>蝴蝶馆</li>
                        <li class="wow fadeInUp" data-wow-duration="800ms" data-wow-delay="200ms"><i class="fa fa-angle-right"></i>Glenwood 温泉</li>
                        <li class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms"><i class="fa fa-angle-right"></i>Botanic 植物园</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="gtco-card-item has-text">
                <figure>
                    <div class="overlay"><i class="ti-plus"></i></div>
                    <img src="/static/images/blog/timeline/1.jpg" alt="Image" class="img-responsive">
                </figure>
                <div class="gtco-text text-left">
                    <h2>自然</h2>
                    <ul class="elements">
                        <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i class="fa fa-angle-right"></i>蝴蝶馆</li>
                        <li class="wow fadeInUp" data-wow-duration="800ms" data-wow-delay="200ms"><i class="fa fa-angle-right"></i>Glenwood 温泉</li>
                        <li class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms"><i class="fa fa-angle-right"></i>Botanic 植物园</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="gtco-card-item has-text">
                <figure>
                    <div class="overlay"><i class="fa fa-plus"></i></div>
                    <img src="/static/images/blog/timeline/1.jpg" alt="Image" class="img-responsive">
                </figure>
                <div class="gtco-text text-left">
                    <h2>自然</h2>
                    <ul class="elements">
                        <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i class="fa fa-angle-right"></i>蝴蝶馆</li>
                        <li class="wow fadeInUp" data-wow-duration="800ms" data-wow-delay="200ms"><i class="fa fa-angle-right"></i>Glenwood 温泉</li>
                        <li class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms"><i class="fa fa-angle-right"></i>Botanic 植物园</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock %}