{% extends 'inc/master.html' %}

{% block title %}

{% endblock %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#live').prop('class', 'active');
        });
    </script>
{% endblock %}

{% block content %}
    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slider-text">
                        <h1>生活辅助</h1>
                        <p>Boudin doner frankfurter pig. Cow shank bresaola pork loin tri-tip tongue venison pork belly meatloaf short loin landjaeger biltong beef ribs shankle chicken andouille.</p>
                        <a href="#" class="btn btn-common">SIGN UP</a>
                    </div>
                    <img src="/static/images/home/slider/hill.png" class="slider-hill" alt="slider image">
                    <img src="/static/images/home/slider/house.png" class="slider-house" alt="slider image">
                    <img src="/static/images/home/slider/sun.png" class="slider-sun" alt="slider image">
                    <img src="/static/images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
                    <img src="/static/images/home/slider/birds2.png" class="slider-birds2" alt="slider image">
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>

    <div class="container">
        <div class="col-md-6">
            <div class="gtco-card-item has-text">
                <figure>
                    <div class="overlay"><i class="ti-plus"></i></div>
                    <img src="/static/images/blog/timeline/1.jpg" alt="Image" class="img-responsive">
                </figure>
                <div class="gtco-text text-left">
                    <h2>自然</h2>
                    <ul class="elements">
                        <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i class="fa fa-angle-right"></i>蝴蝶馆</li>
                        <li class="wow fadeInUp" data-wow-duration="800ms" data-wow-delay="200ms"><i class="fa fa-angle-right"></i>Glenwood 温泉</li>
                        <li class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms"><i class="fa fa-angle-right"></i>Botanic 植物园</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}