{% extends 'inc/master.html' %}

{% block title %}

{% endblock %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#live').prop('class', 'active');
            $('#personnel').prop('class', 'active');
        });
    </script>
{% endblock %}


{% block content %}


    <section id="error-page">
        <div class="error-page-inner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <div class="bg-404 margin-bottom">
                                <div class="error-image">
                                    <img class="img-responsive" src="/static/images/index/personnel.png" alt="">
                                </div>
                            </div>

                            <h1 class="margin-bottom">
                                <i class="fa fa-star fa-spin" style="font-size: 45px;color:gold;margin-right: 20px;"></i>
                                恒心人才数据库
                                <i class="fa fa-star fa-spin" style="font-size: 45px;color:gold;margin-left: 20px;"></i>
                            </h1>

                            <div class="container margin-bottom">
                                <div class="col-xs-4 col-sm-4">
                                    <div class="feature-center function-summary">
                                        <span class="icon">
                                            <i class="fa fa-globe"></i>
                                        </span>
                                        <p>恒心自主大数据平台，为你匹配最优就业选择</p>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4">
                                    <div class="feature-center function-summary">
                                        <span class="icon">
                                            <i class="fa fa-bank"></i>
                                        </span>
                                        <p>境外企业优质、优先推荐</p>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4">
                                    <div class="feature-center function-summary" >
                                        <span class="icon">
                                            <i class="fa fa-male"></i>
                                        </span>
                                        <p>定期向国内外一流招聘平台输送人才</p>
                                    </div>
                                </div>
                            </div>


                            <div class="container text-center margin-bottom">
                                <h1 class="">
                                    <img src="/static/images/aboutus/bg.png" class="margin-bottom" alt="落户">
                                    猎聘人才数据库
                                </h1>
                            </div>

                            <div class="container text-center margin-bottom">
                                <div class="col-xs-6">
                                    <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                                        <span class="icon">
                                            <span class="number">1</span>
                                        </span>
                                        <div class="feature-copy text-left">
                                            <h3>猎聘网北美总部</h3>
                                            <h5>
                                                猎聘全力助力中国企业引进海外人才，吸引更多高端人才孔雀西南飞，回归中国企业发展。

                                            </h5>
                                        </div>
                                    </div>

                                    <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                                        <span class="icon">
                                            <span class="number">2</span>
                                        </span>
                                        <div class="feature-copy text-left">
                                            <h3>猎聘精准互联网，让传播更广泛</h3>
                                            <h5>
                                                所谓简历包装，就是通过一些技巧包装自己，如在弱项上避重就轻、避实就虚，而对强项突出渲染等。只要简历入了用人单位的法眼，真实能力就留待面试时再发挥吧
                                            </h5>
                                        </div>
                                    </div>

                                </div>



                                <div class="col-xs-6">
                                    <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                                        <span class="icon">
                                            <span class="number">3</span>
                                        </span>
                                        <div class="feature-copy text-left">
                                            <h3>
                                                根植海外分公司，让人才获取更深入
                                            </h3>
                                            <h5>
                                                人社局职业发展导师指导，中高端人才库深入调研，全面了解客户目标行业发展、人才分布、人才特征、流动、薪酬，形成专业报告，为后续海外人才引进提供指导
                                            </h5>
                                        </div>
                                    </div>

                                    <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                                        <span class="icon">
                                            <span class="number">4</span>
                                        </span>
                                        <div class="feature-copy text-left">

                                            <h5>
                                                专业海外团队，让招聘形式更贴合海外地域
                                            </h5>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="container text-center margin-bottom">
                                <h1 class="">
                                    <img src="/static/images/aboutus/bg.png" class="margin-bottom" alt="落户">
                                    合作企业
                                </h1>
                            </div>

                            <div class="container text-center">

                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href="https://www.macysinc.com/" target="_blank">
                                            <div class="hexoco-project-item " style="margin:0 auto; text-align:center">
                                                <img src="/static/images/personel/01.jpg" style="margin:20px auto 15px auto;" alt="四川恒心前途教育咨询-梅西百货" class="img-responsive">
                                                <div class="hexoco-text">
                                                    <h2>梅西百货</h2>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="https://www.cvshealth.com/" target="_blank">
                                            <div class="hexoco-project-item">
                                                <img src="/static/images/personel/04.jpg" style="margin:20px auto 15px auto;" alt="四川恒心前途教育咨询-CVS" class="img-responsive">
                                                <div class="hexoco-text">
                                                    <h2>CVS</h2>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="https://www.aep.com/" target="_blank">
                                            <div class="hexoco-project-item">
                                                <img src="/static/images/personel/02.jpg" style="margin:20px auto 15px auto;" alt="四川恒心前途教育咨询-美国电力" class="img-responsive">
                                                <div class="hexoco-text">
                                                    <h2>美国电力</h2>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-xs-6">
                                        <a href="https://www.liepin.com/">
                                            <div class="hexoco-project-item">
                                                <img src="/static/images/personel/03.jpg" style="margin:20px auto 15px auto;" alt="四川恒心前途教育咨询-猎聘网合作" class="img-responsive">
                                                <div class="hexoco-text">
                                                    <h2>猎聘网</h2>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}