{% extends 'inc/master.html' %}

{% block title %}

{% endblock %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#live').prop('class', 'active');
            $('#resume').prop('class', 'active');
        });
    </script>
{% endblock %}

{% block content %}

    <section id="error-page">
        <div class="error-page-inner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <div class="bg-404 margin-bottom">
                                <div class="error-image">
                                    <img class="img-responsive" src="/static/images/index/resume.png" alt="">
                                </div>
                            </div>

                            <h1 class="margin-bottom">为什么需要简历咨询？</h1>
                            <div class="container margin-bottom">
                                <p class="normal-p">你的能力与才华不该因为年轻被埋没，恒心联合猎聘网北美总部，开放猎聘人才资源数据库，让你与更优秀的人比肩，收获更多高管名企的青睐。</p>
                            </div>

                            <div class="container text-center margin-bottom">
                                <div class="col-xs-6">
                                    <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                                        <span class="icon">
                                            <span class="number">1</span>
                                        </span>
                                        <div class="feature-copy text-left">
                                            <h5>
                                                一份好的简历，未必可以获得好的Offer，但一份不达标的简历一定会把你淘汰出局，从而将你关在在竞争的大门之外
                                            </h5>
                                        </div>
                                    </div>

                                    <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                                        <span class="icon">
                                            <span class="number">2</span>
                                        </span>
                                        <div class="feature-copy text-left">
                                            <h5>
                                                所谓简历包装，就是通过一些技巧包装自己，如在弱项上避重就轻、避实就虚，而对强项突出渲染等。只要简历入了用人单位的法眼，真实能力就留待面试时再发挥吧
                                            </h5>
                                        </div>
                                    </div>

                                </div>



                                <div class="col-xs-6">
                                    <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                                        <span class="icon">
                                            <span class="number">3</span>
                                        </span>
                                        <div class="feature-copy text-left">
                                            <h5>
                                                简历的终极目标，是使求职者在用人单位的第一轮筛选中能够顺利过关，最终进入面试。简历上，除了要表示用人单位需要的必要信息和硬性要求，还必须为招聘方留下深刻的良好的第一印象，最终在众多的求职简历中脱颖而出。
                                            </h5>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="container text-center margin-bottom">
                                <h1 class="">
                                    <img src="/static/images/aboutus/bg.png" class="margin-bottom" alt="落户">
                                    我们的服务
                                </h1>
                            </div>

                            <div class="container margin-bottom">
                                <div class="col-xs-4 col-sm-4">
                                    <div class="feature-center function-summary">
                                        <span class="icon">
                                            <i class="fa fa-file-text-o"></i>
                                        </span>
                                        <p>模板提供</p>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4">
                                    <div class="feature-center function-summary">
                                        <span class="icon">
                                            <i class="fa fa-check-square-o"></i>
                                        </span>
                                        <p>外观设计调整</p>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4">
                                    <div class="feature-center function-summary" >
                                        <span class="icon">
                                            <i class="fa fa-star"></i>
                                        </span>
                                        <p>信息包装完善</p>
                                    </div>
                                </div>
                            </div>

{#                            <div class="container text-center margin-bottom">#}
{#                                <h1 class="">#}
{#                                    <img src="/static/images/aboutus/bg.png" class="margin-bottom" alt="落户">#}
{#                                    提交需求#}
{#                                </h1>#}
{#                            </div>#}
{##}
{#                            <div class="container">#}
{#                                <div class="col-xs-12">#}
{#                                    <div class="contact-form bottom">#}
{#                                        <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">#}
{#                                            <div class="form-group">#}
{#                                                <input type="text" name="name" class="form-control" required="required" placeholder="Name">#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <input type="email" name="email" class="form-control" required="required" placeholder="Email Id">#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your text here"></textarea>#}
{#                                            </div>#}
{#                                            <div class="form-group">#}
{#                                                <input type="submit" name="submit" class="btn btn-submit" value="Submit">#}
{#                                            </div>#}
{#                                        </form>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}

                            {#                            <a href="index.html" class="btn btn-error">RETURN TO THE HOMEPAGE</a>#}
                            {#                            <div class="social-link">#}
                            {#                                <span><a href="#"><i class="fa fa-facebook"></i></a></span>#}
                            {#                                <span><a href="#"><i class="fa fa-twitter"></i></a></span>#}
                            {#                                <span><a href="#"><i class="fa fa-google-plus"></i></a></span>#}
                            {#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
