<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="dawsonrose,Arnold0824">
    <title>{% block title %}{% endblock %}-留学群体一站式服务机构</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/lightbox.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    {% block head %}

    {% endblock %}
    <!--[if lt IE 9]>
	    <script src="/static/js/html5shiv.js"></script>
	    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/static/images/ico/favicon.ico">

</head><!--/head-->

<body>
<header id="header">
    <div class="container">
        {#        <div class="col-xs-offset-1 col-xs-10">#}
        <div class="col-xs-12 overflow">
            <div class="social-icons pull-right">
                <ul class="nav nav-pills">
                    <li><i class="fa fa-phone" style="margin-right: 10px;color:orangered;"></i><label class="normal" style="color:orangered;"><strong>(86)028-6263-9653 </strong> </label></li>
                    {#                    <li><a href=""><i class="fa fa-weixin"></i></a></li>#}
                    <li><a href="http://weibo.com/6215956363/profile?topnav=1&wvr=6&is_all=1"><i class="fa fa-weibo"></i></a></li>
                    <li><a href="http://wpa.qq.com/msgrd?v=3&uin=3539284963&site=qq&menu=yes"><i class="fa fa-qq"></i></a></li>
                </ul>
            </div>
        </div>
        {#        </div>#}
    </div>
    <div class="navbar navbar-inverse" role="banner">
        <div class="container">
            {#            <div class="col-xs-offset-1 col-xs-10">#}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/">
                    <h1><img src="/static/images/logo.png" style="width:202px;" alt="恒心前途Logo"></h1>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="" id="home"><a href="/">首页</a></li>
                    <li class="dropdown" id="apply"><a href="/apply">本研申请<i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu">
                            <li><a href="/usa" id="usa">美国留学申请</a></li>
                            <li><a href="/ca" id="ca">加拿大留学申请</a></li>
                            {#                            <li><a href="/europe" id="europe">欧洲留学申请</a></li>#}
                            {#                            <li><a href="/asia" id="asia">亚洲留学申请</a></li>#}
                        </ul>
                    </li>
                    <li id="certification"><a href="/certification" >学历学位认证</a></li>
                    <li class="dropdown" id="guidance">
                        <a href="/guidance">学术辅导
                            {#                                <i class="fa fa-angle-down"></i>#}
                        </a>
                        {#                            <ul role="menu" class="sub-menu">#}
                        {#                                <li><a href="/guidance#wangke">网课梳理</a></li>#}
                        {#                                <li><a href="/guidance#lunwen">论文辅导</a></li>#}
                        {#                                <li><a href="/guidance#exam">考前提升</a></li>#}
                        {#                                <li><a href="/guidance#advantage">恒心优势</a></li>#}
                        {#                                <li><a href="/guidance#team1">师资介绍</a></li>#}
                        {#                            </ul>#}
                    </li>
                    <li class="dropdown" id="live">
                        {#                            <a href="/live">生活辅助#}
                        <a href="#">生活辅助
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul role="menu" class="sub-menu">
                            <li><a href="/car" id="car">免税车购置</a></li>
                            <li><a href="/housekeep" id="housekeep">恒心微管家</a></li>
                            <li><a href="/settle" id="settle">一线城市落户</a></li>
                            <li><a href="/eb3" id="eb3">EB-3 职业移民</a></li>
                            <li><a href="/eb5" id="eb5">EB-5 投资移民</a></li>
                            <li><a href="/resume" id="resume">简历咨询</a></li>
                            <li><a href="/personnel" id="personnel">人才录入</a></li>
                            {#                            <li><a href="/train" id="train">海外就业培训</a></li>#}
                        </ul>
                    </li>
                    {#                        <li class="dropdown" id="eb"><a href="/eb">移民指导<i class="fa fa-angle-down"></i></a>#}
                    {#                            <ul role="menu" class="sub-menu">#}
                    {#                                <li><a href="/eb3">EB-3 职业移民</a></li>#}
                    {#                                <li><a href="/eb5">EB-5 投资移民</a></li>#}
                    {#                            </ul>#}
                    {#                        </li>#}
                    {#                        <li class="dropdown" id="profession"><a href="/profession">职业规划<i class="fa fa-angle-down"></i></a>#}
                    {#                            <ul role="menu" class="sub-menu">#}
                    {#                                <li><a href="/resume">简历咨询</a></li>#}
                    {#                                <li><a href="/personnel">人才录入</a></li>#}
                    {#                                <li><a href="/train">海外就业培训</a></li>#}
                    {#                            </ul>#}
                    {#                        </li>#}
                    <li id="tour" ><a href="/tour">游学之旅</a>
                    </li>
{#                    <li id="info">#}
{#                        <a href="/information">资讯中心</a>#}
{#                    </li>#}
                    <li class="dropdown" id="about"><a href="/about">关于我们<i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu">
                            {#                            <li><a href="/elite" id="elite">恒心精英计划</a></li>#}
                            <li><a href="/contact" id="contact">联系我们</a></li>
                            <li><a href="/develop" id="develop">发展历程</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            {#                <div class="search">#}
            {#                    <form role="form">#}
            {#                        <i class="fa fa-search"></i>#}
            {#                        <div class="field-toggle">#}
            {#                            <input type="text" class="search-form" autocomplete="off" placeholder="Search">#}
            {#                        </div>#}
            {#                    </form>#}
            {#                </div>#}
            {#            </div>#}
        </div>
    </div>
</header>
<!--/#header-->

{% block content %}
{% endblock %}

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator">
                <img src="/static/images/home/under.png" class="img-responsive inline" alt="">
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="testimonial bottom">
                    <h2>相关信息</h2>
                    <div class="media">
                        <div class="pull-left">
                            <a href="javascript:void(0)"><img src="/static/images/home/wechat.jpg" alt="" style="width: 90px;height: 90px;"></a>
                        </div>
                        <div class="media-body">
                            <blockquote><p class="normal-p" style="margin-right: 10px;">留学群体的问题终结者</p></blockquote>
                            <p class="normal text-center">- 恒心官方公众号</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="pull-left">
                            <a href="#"><img src="/static/images/index/wechat1.jpg" alt="" style="width: 90px;height: 90px;"></a>
                        </div>
                        <div class="media-body">
                            <blockquote> <p class="normal-p" style="margin-right: 10px;">We are unique, 我们只是比别人多了一点恒心。
                            </p></blockquote>
                            <p class="normal text-center">- 恒心客服微信号</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="contact-info bottom">
                    <h2>联系我们</h2>
                    <address>
                        E-mail: <a href="mailto:info@hexedu.com">info@hexedu.com</a> <br>
                        Phone: (86)028-6263-9653 <br>
                        Fax: (86)028-6263-9653 <br>

                        {#                        address: 四川省成都市高新区天府大道中段666号希顿国际广场C座1203室#}
                    </address>

                    <h2>地址</h2>
                    <address>
                        <p class="normal-p">四川省 成都市 高新区 </p>
                        <p class="normal-p">天府大道中段666号</p>
                        <p class="normal-p">希顿国际广场C座1203室</p>
                        {#                        United Kingdom <br>#}
                    </address>
                    <address>
                        <p class="normal-p">蜀ICP备17014004号</p>
                        <p class="normal-p">All rights reserved Copyright © 四川恒心前途教育咨询有限公司</p>
                    </address>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="contact-form bottom">
                    <h2>给我们留言</h2>
                    <div class="form_status" id ="form_status"></div>
                    {% csrf_token %}
                    <form id="main-contact-form" name="contact-form" method="post" action="/message" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text" name="name" id="name" class="form-control" required="required" placeholder="姓名">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" required="required" placeholder="邮箱">
                        </div>
                        <div class="form-group">
                            <input type="text" name="tel" class="form-control" required="required" placeholder="电话">
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="留言信息"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="button" onclick="su()" class="btn btn-submit" value="提交信息">
                        </div>
                    </form>
                    <p class="normal-p">我们会尽可能在24小时内联系您</p>
                    <p class="normal-p"><strong>无需等待，可直接致电 (86)028-6263-9653</strong></p>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="copyright-text text-center">
                    {#                    <p>&copy; Your Company 2017. All Rights Reserved.</p>#}
                    {#                    <p>Designed by <a target="_blank" href="http://www.themeum.com">Dawson & Arnold</a></p>#}
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/#footer-->
<script>
    var form_status = $('#form_status');
    function su() {
        var formData = new FormData($( "#main-contact-form" )[0]);
        $.ajax({
            type: "POST",
            data: formData,
            enctype:"multipart/form-data",
            contentType: false,
            /**
             * 必须false才会避开jQuery对 formdata 的默认处理
             * XMLHttpRequest会对 formdata 进行正确的处理
             */
            processData: false,
            url: '/message',
{#            beforeSend: function(){#}
{#                form.prepend( form_status.html('<p><i class="fa fa-spinner fa-spin"></i> message is sending...</p>').fadeIn() );#}
{#            },#}
            success: function (data) {
                data=JSON.parse(data);
                if (data.status == "200") {
{#                    alert("success");#}
                    form_status.html('<p class="text-success">谢谢您联系我们，我们会尽可能在24小时内联系您。</p>').delay(4000).fadeOut();
                }
                if (data.status == "500") {
{#                    alert("error");#}
                    form_status.html('<p class="text-warning">出错了，请您留下您正确的联系方式。</p>').delay(4000).fadeOut();
                }
            },
            error: function () {
{#                alert("留言发送失败！");#}
                form_status.html('<p class="text-warning">出错了，请您留下您正确的联系方式。</p>').delay(4000).fadeOut();
            }
        });

    }
</script>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="fa fa-angle-double-up"></i></a>
</div>
<!--/#gototop-->
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/lightbox.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.countTo.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
{% block footer %}
{% endblock %}
</body>
</html>
