{% extends 'inc/master.html' %}

{% block title %}
    约翰霍普金斯大学
{% endblock %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#apply').prop('class', 'active');
        });
    </script>
{% endblock %}


{% block content %}
    <section id="home-slider" class="margin-bottom" style="background: none;">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <img src="/static/images/mx/6.jpg" class="slider-school" alt="留学申请">
                    <div class="slider-summary">
                        <h1>约翰霍普金斯大学</h1>
                        <p class="normal-p">US NEWS RANK:10</p>
                        <p class="normal-p">优势学院：凯瑞商学院，教育学院，怀廷工程学院，护理学院，文理学院</p>
                        <p class="normal-p">招生地址：3400 N. Charles Street Baltimore, MD 21218 </p>
                        <p class="normal-p">招生电话：(410) 516-8000 </p>
                        <p class="normal-p">录取率：<strong style="color:rgb(192, 48, 53);">15%</strong></p>
                        <p class="normal-p">留学费用/学年：
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>本科学费：$42280
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>住校：$12962
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>书本费：$1200
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>平均奖学金金额：$28582
                        </p>
                        <a href="https://www.jhu.edu/admissions/" class="btn btn-common">访问官网</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>

    <div class="container text-center margin-bottom">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>录取条件
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
    </div>

    <div class="container">
        <div class="container text-center margin-bottom">
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/index/b.png" alt="">
                </div>
                <h2>本科</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>TOFEL：阅读26 +   听力26+  写作22+   口语25+</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>IELTS：各部分均7.0+</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>SAT ：reasoning test成绩，最多3个SAT subject test成绩
                        </h5>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                    <img src="/static/images/index/m.png" alt="">
                </div>
                <h2>硕士</h2>
                {#                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">#}
                {#                    <span class="icon">#}
                {#                        <i class="fa fa-check"></i>#}
                {#                    </span>#}
                {#                    <div class="feature-copy text-left">#}
                {#                        <h5>#}
                {#                            正规大学四年制本科毕业并取得学士学位#}
                {#                        </h5>#}
                {#                    </div>#}
                {#                </div>#}

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            IELTS ：7.0+
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            TIFEL: 100+
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            GRE/GMAT: 600+
                        </h5>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-sm-12 text-center" >
            <a href="#hex" class="btn btn-error" style="margin-top: 0;">分数不够怎么办，恒心来帮你</a>
        </div>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            院校简介
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            约翰•霍普金斯大学，是一所位于美国马里兰州巴尔的摩市的著名研究型私立大学，经常被误认为是常春藤联盟的一员。霍普金斯大学尤以其医学、公共卫生、科学研究、国际关系及艺术等领域的卓越成就而闻名世界。该校的校友中，先后有37人获得诺贝尔奖。根据美国国家科学基金会统计，在2007财政年约翰霍普金斯大学共从国家科学基金会、国家卫生研究院、国家航空航天局以及美国国防部获得超过15亿美元的科研经费，这使得它连续30年成为全美年科研经费最高的大学。截止至2008年有130名美国科学院、工程学院、医学院、文理学院院士就职于约翰霍普金斯大学。截止至2005年共有八位约翰霍普金斯大学的科研人员获得美国国家科学奖章。
        </p>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            学生情况

        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            约翰•霍普金斯大学师生数量为5301人，录取比为27.8%。
        </p>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            教学资源
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            美国约翰霍普金斯大学图书馆360多万册系统的房子。它包括十个主要部门：霍姆伍德谢里登在图书馆，图书馆的医疗机构，在彭博学校，皮博迪学院图书馆，凯里商学院和教育学院的图书馆，学校护理学院图书馆，图书馆亚伯拉罕米利林费尔德高级国际研究学院图书馆(悉尼河和埃尔莎瓦特梅森博洛尼亚中心图书馆和图书馆)，可再生能源吉布森图书馆应用物理实验室图书馆和其他小型卫星的位置，以及档案。米尔顿艾森豪威尔图书馆学(称为“微型和小型企业”的学生)，在霍姆伍德校园内，是主要的图书馆。这家超过260万册，超过20,000订阅期刊。艾森豪威尔图书馆是一所大学的谢里登在阿尔伯特图书馆阅览室吉尔曼四馆，图书馆约翰工作加勒特长荣大厦(称为学生“的小屋”)，和乔治皮博迪图书馆馆藏包括摩成员弗农广场。这些集合在一起，为大学提供研究图书馆的主要资源，为世界各地的约翰霍普金斯大学的学术课程。该图书馆被命名为艾森豪威尔米尔顿学，大学及美国前总统艾森豪威尔前总统的弟弟。只有在MSE图书馆的六层两个地面，其余的是下，虽然建筑师设计的建设，使各个层次具有窗户和自然光。与传统的校园传说的位，说不准在校园内的结构可以比吉尔曼馆，最古老的教学大楼的设计符合高。没有任何书面的规则有关建筑物高度，但是，图书馆的设计，建筑和美学时，终于在20世纪60年代建成的理由选择。2008年12月，它宣布，将增加一个新的构造直接向库南的微型和小型企业。六和半层扩建将被命名为布罗迪学习共享的大学校长William R. Brody加入荣誉，将作为“协作学习空间”。该产品预计将在2012年完成。
        </p>
    </div>


    <div class="container text-center margin-bottom">
        <h1>
            校园环境
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            霍姆伍德校区是大学最古老的校区。校园位于巴尔的摩市的北部，地处集小镇魅力与大都市活力于一身的查尔斯区，为大巴尔的摩都市圈的周末热门度假地。从该地坐火车去华盛顿特区只需1小时，去纽约不到3小时，步行可达附近众多名胜古迹。校址地名霍姆伍德原是《独立宣言》签名人之一的查尔斯•卡罗尔之子的庄园。整个校园占地面积140 英亩，四处古树环抱，绿草如茵。校内建筑以19世纪典型学院派风格的红砖建筑为主。校园里四通八达的小路把各幢大楼连成一片，宁静安谧，人文气息浓郁，素有巴尔的摩“精神首府”的雅称。
        </p>
    </div>

    <div class="container text-center margin-bottom" id="hex">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>恒心名校直通车
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
        <p class="normal-p" style="color: orangered"><strong>如果你有颗名校深造的心，却没有进得去TOP100的成绩，恒心就来带你体验弯道超车的快感。</strong></p>
    </div>

    <div class="container">
        <div class="container text-center margin-bottom">
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/index/b.png" alt="">
                </div>
                <h2>本科材料</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>高中成绩</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>SAT/ACT/SATII， 部分专业可免SAT/ACT</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>托福成绩, 部分学校接受四年美高可免托福成绩</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>CV&PS</h5>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                    <img src="/static/images/index/m.png" alt="">
                </div>
                <h2>硕士材料</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            本科成绩单
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            GRE/GMAT, 部分学校可免GRE/GMAT
                        </h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            托福成绩
                        </h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            CV&PS
                        </h5>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="container text-center margin-bottom" id="hex">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>名校直通车办理流程
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
    </div>
    <div class="container text-center margin-bottom">
        <label class="tag">
            提交材料
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            选择学校
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            可行性分析
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            签约
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            定金支付
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            出具offer后 付清尾款
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            办理入学手续
        </label>

    </div>
{% endblock %}