{% extends 'inc/master.html' %}

{% block title %}
    南加州大学
{% endblock %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#apply').prop('class', 'active');
        });
    </script>
{% endblock %}


{% block content %}
    <section id="home-slider" class="margin-bottom" style="background: none;">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <img src="/static/images/mx/7.jpg" class="slider-school" alt="留学申请">
                    <div class="slider-summary">
                        <h1>南加州大学</h1>
                        <p class="normal-p">US NEWS RANK:23</p>
                        <p class="normal-p">优势学院：电影学院，工程学院，商学院，传播学院，建筑学院</p>
                        <p class="normal-p">招生地址：University Park Los Angeles, CA 90089</p>
                        <p class="normal-p">招生电话：(213) 740-2311 </p>
                        <p class="normal-p">录取率：<strong style="color:rgb(192, 48, 53);">18%</strong></p>
                        <p class="normal-p">留学费用/学年：
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>学费：$46,363
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>住宿：$12,902
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>书本：$1,500
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>合计：$62,245
                        </p>
                        <a href="http://admit.usc.edu/" class="btn btn-common">访问官网</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>

    <div class="container text-center margin-bottom">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>录取条件
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
    </div>

    <div class="container">
        <div class="container text-center margin-bottom">
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/index/b.png" alt="">
                </div>
                <h2>本科</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>TOEFL:100+</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>IELTS：7.0+</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>SAT 1：2100+</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>GPA:3.8</h5>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                    <img src="/static/images/index/m.png" alt="">
                </div>
                <h2>硕士</h2>
{#                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">#}
{#                    <span class="icon">#}
{#                        <i class="fa fa-check"></i>#}
{#                    </span>#}
{#                    <div class="feature-copy text-left">#}
{#                        <h5>#}
{#                            正规大学四年制本科毕业并取得学士学位#}
{#                        </h5>#}
{#                    </div>#}
{#                </div>#}

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            GPA: 3.0+
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            平均分：80+
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            免ISE考试条件：TOFEL90+，单项20+, IELTS6.5+,单项6.0+
                        </h5>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-12 text-center" >
            <a href="#hex" class="btn btn-error" style="margin-top: 0;">分数不够怎么办，恒心来帮你</a>
        </div>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            院校简介
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            南加州大学，简称南加大，位于加州洛杉矶市中心，由监理会于1880年创立，是加州最古老的私立研究型大学。 根据南加大为2005年准新生预备的入学申请文件所引的资料，南加大已成为全国最具竞争力的大学之一，全美大学排第23名。其中电影学院全美排名第一，工程学院全美排名第八。 南加大亦是新近的诺贝尔化学奖得主、洛克碳氢研究所所长George Olah教授的驻在处。南加大也是少数同时拥有两座由国家科学基金会(NSF)提供资金设立的工程研究中心(ERC)-- 专门研究网络及多媒体的综合多媒体系统中心(IMSC) 以及 微电子生物系统中心(BMES) 。此外，南加大被美国国土安全部选为第一所国土安全卓越中心。
        </p>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            学生情况

        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            USC共招收32160名学生，其中有15686位研究生、博士后研究人员350名，900名住院医师。目前约有4390名教职人员和14,000员工。现存的校友粗估约有18万人。学校多年来，比任何其他美国大学能吸引更多的国际学生。目前，约有10%USC的学生超过115个国家的代表。USC的校友会目前有20多万会员。男:女比例接近1:1，有49%的新生来自外州。　　教学资源　　虽然只有一百多年的历史，南加大的课程水平极受肯定，其中商学院、电影、传播、建筑、医学及理工学院等科系在美国大学中相当知名，在美国新闻与世界报道的排名上也从不缺席。尤其电影学院伴随着好莱坞的电影工业发展，造就了不少电影界的奇才，最著名的校友是电影“星际大战”的导演乔治•卢卡斯和音效大师班•布特、 达芬奇密码的导演朗霍华,阿甘正传的导演罗勃辛密克斯、约翰米辽士、巧克力工厂的导演大卫.L.沃尔普 这些校友在功成名就后以资金赞助学校的发展，是校方丰沛的财源之一。
        </p>
    </div>


    <div class="container text-center margin-bottom">
        <h1>
            校园环境
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            大学公园校区位在 南洛杉矶的West Adams区 , 约在洛杉矶市区南方2英里处。校园边界由北边与东北边的Jefferson Boulevard、东南边的Figueroa Street、南边的 Exposition Boulevard, 以及西边的Vermont Avenue所组成。在1960年代,穿越校园的车辆会被取缔，大学公园校区位于洛杉矶地标的徒步范围内，像是神殿礼堂, 斯台普斯中心, 和洛杉矶纪念体育场。对于制片者来说，是一个非常好的校园场景，诸如不少影视中哈佛大学、柏克莱加州大学场景均在此拍摄。大份建筑为罗马式风格,尽管有些建筑像是宿舍、工程学院、物理科学实验室是近代风格建筑(特别是校园北边两栋粗犷风格的宿舍)，与校园内大多数的红砖建筑形成了强烈的对比，美丽的校园景致亦与校园外的市区环境成了一种对比。 南加大不断的改善对于两个校园周遭环境，并于2000年获时代杂志(Time Magazine)选为年度风云大学(College of the Year)、以及获得Princeton Review对大学的广泛社会服务课程。约有半数的大学生自愿参加社区服务计划，服务范围从周边的环境延伸到整个洛杉矶。
        </p>
    </div>

    <div class="container text-center margin-bottom" id="hex">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>恒心名校直通车
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
        <p class="normal-p" style="color: orangered"><strong>如果你有颗名校深造的心，却没有进得去TOP100的成绩，恒心就来带你体验弯道超车的快感。</strong></p>
    </div>

    <div class="container">
        <div class="container text-center margin-bottom">
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/index/b.png" alt="">
                </div>
                <h2>本科材料</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>高中成绩</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>SAT/ACT/SATII， 部分专业可免SAT/ACT</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>托福成绩, 部分学校接受四年美高可免托福成绩</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>CV&PS</h5>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                    <img src="/static/images/index/m.png" alt="">
                </div>
                <h2>硕士材料</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            本科成绩单
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            GRE/GMAT, 部分学校可免GRE/GMAT
                        </h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            托福成绩
                        </h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            CV&PS
                        </h5>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="container text-center margin-bottom" id="hex">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>名校直通车办理流程
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
    </div>
    <div class="container text-center margin-bottom">
        <label class="tag">
            提交材料
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            选择学校
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            可行性分析
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            签约
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            定金支付
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            出具offer后 付清尾款
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            办理入学手续
        </label>

    </div>
{% endblock %}