{% extends 'inc/master.html' %}

{% block title %}
    哥伦比亚大学
{% endblock %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#apply').prop('class', 'active');
        });
    </script>
{% endblock %}


{% block content %}
    <section id="home-slider" class="margin-bottom" style="background: none;">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <img src="/static/images/mx/4.jpg" class="slider-school" alt="留学申请">
                    <div class="slider-summary">
                        <h1>哥伦比亚大学</h1>
                        <p class="normal-p">US NEWS RANK:5</p>
                        <p class="normal-p">优势学院：教育学院，商学院，法学院，工程学院，国际与公共事务学院</p>
                        <p class="normal-p">招生地址：Undergraduate Admissions Office, 86 Brattle Street Cambridge, MA 02138</p>
                        <p class="normal-p">招生电话：(213) 740-2311 </p>
                        <p class="normal-p">录取率：<strong style="color:rgb(192, 48, 53);">7%</strong></p>
                        <p class="normal-p">留学费用/学年：
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>本科学费：$13,500-$18,000/年
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>研究生学费：$11,750-15,000/年
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>学杂费：$2,275
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>食宿费：$10,931
                        </p>
{#                        <a href="http://www.du.edu/apply/index.html" class="btn btn-common">访问官网</a>#}
                    </div>

                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>

    <div class="container text-center margin-bottom">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>录取条件
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
    </div>

    <div class="container">
        <div class="container text-center margin-bottom">
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/index/b.png" alt="">
                </div>
                <h2>本科</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>TOEFL:100+</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>IELTS：7.0+</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>SAT：阅读：690-780     数学：700-790     写作：700-780    总分：2080——2350</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>ACT综合均分：32-35</h5>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                    <img src="/static/images/index/m.png" alt="">
                </div>
                <h2>硕士</h2>
{#                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">#}
{#                    <span class="icon">#}
{#                        <i class="fa fa-check"></i>#}
{#                    </span>#}
{#                    <div class="feature-copy text-left">#}
{#                        <h5>#}
{#                            正规大学四年制本科毕业并取得学士学位#}
{#                        </h5>#}
{#                    </div>#}
{#                </div>#}

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            平均成绩：85+
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            TOFEL: 100+
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            GRE: 1100+　
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            GMAT: 680+
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 text-center" >
            <a href="#hex" class="btn btn-error" style="margin-top: 0;">分数不够怎么办，恒心来帮你</a>
        </div>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            院校简介
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            哥伦比亚大学位于纽约市中心，于1754年成立，属美国常春藤八大盟校之一。它坐落于曼哈顿的晨边高地，濒临哈德逊河，在中央公园北面。它于1754年根据英国国王乔治二世颁布的《国王宪章》而成立，命名为国王学院 (Kings College)，是美洲大陆最古老的学院之一。美国独立战争后更名为哥伦比亚学院，1896年成为哥伦比亚大学。哥伦比亚大学是最早接受中国留学生的美国大学之一。哥伦比亚大学的历届毕业生和教职员中累计共有97名诺贝尔奖得奖者，于世界各大学中排名第一。
        </p>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            学生情况

        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            哥伦比亚大学2016年秋季入学的申请人是36,292人，录取了2,279人，录取率为6%。2015年的率取率也是6%。2011年到2014年的录取率都是7%。可以看出，哥伦比亚大学的录取率还是比较稳定的，同学们可以预估一下自己的录取概率。
        </p>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            教学资源
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            哥伦比亚大学是世界上最重要的研究中心之一，同时为本科生和研究生在许多学术和专业领域提供一个独特而卓越的学习环境。大学认识到地理位置问题的重要性，它的位置在纽约，试图将其研究和教学与拥有大量资源的大都市联系在一起。它旨在吸引多元化的国际教师和学生，以支持在全球问题上的研究和教学，并与许多国家和地区的创建学术关系。哥伦比亚大学期望所有领域推进知识和学习的最高水平，并把它努力研发的产品传达给全世界。
        </p>
    </div>


    <div class="container text-center margin-bottom">
        <h1>
            校园环境
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            学院所在的纽约市是国际经济、金融、艺术、传媒之都，联合国总部与各类国际性组织总部所在地，也是全球最具特色的移民城市之一，约有180余个国家与地区的移民在此生活，这一丰富多元的人文社会资源极大地方便了学院的科研活动与学生实习。一方面，因地缘优势，学院承担了大量由联合国与各国际组织所委托进行的科研项目，同时本院学生可极为便利地获得去上述机构进行实习的机会。另一方面，移民城市的种族与民族多样性、流动性及阶层多元化，为学院教员与学生的各类教育研究提供了世界上最大最多元的教育研究与实验土壤，为各类研究提供了便利。此外，纽约市还为学生提供了大量非正式教育机会，学生们可广泛利用各类戏剧院、博物馆、音乐会、讲座或大型会议等获得学习机会。有一句话形象的点出了这一点：“哥大的学生在华尔街学经济，在联合国总部学政治，在百老汇看戏剧。
        </p>
    </div>

    <div class="container text-center margin-bottom" id="hex">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>恒心名校直通车
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
        <p class="normal-p" style="color: orangered"><strong>Development Case + 校董提名 + Admission Office，恒心独家一手资源，助你稳稳走进名校大门</strong></p>
    </div>

    <div class="container">
        <div class="container text-center margin-bottom">
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/index/b.png" alt="">
                </div>
                <h2>本科材料</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>高中成绩</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>SAT/ACT/SATII， 部分专业可免SAT/ACT</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>托福成绩, 部分学校接受四年美高可免托福成绩</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>CV&PS</h5>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                    <img src="/static/images/index/m.png" alt="">
                </div>
                <h2>硕士材料</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            本科成绩单
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            GRE/GMAT, 部分学校可免GRE/GMAT
                        </h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            托福成绩
                        </h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            CV&PS
                        </h5>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="container text-center margin-bottom" id="hex">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>名校直通车办理流程
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
    </div>
    <div class="container text-center margin-bottom">
        <label class="tag">
            提交材料
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            选择学校
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            可行性分析
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            签约
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            定金支付
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            出具offer后 付清尾款
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            办理入学手续
        </label>

    </div>
{% endblock %}