{% extends 'inc/master.html' %}

{% block title %}
    丹佛大学
{% endblock %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#apply').prop('class', 'active');
        });
    </script>
{% endblock %}


{% block content %}
    <section id="home-slider" class="margin-bottom" style="background: none;">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <img src="/static/images/mx/9.jpg" class="slider-school" alt="留学申请">
                    <div class="slider-summary">
                        <h1>丹佛大学</h1>
                        <p class="normal-p">US NEWS RANK:86</p>
                        <p class="normal-p">优势学院：国际学院，社会工作研究生院，丹尼尔商学院，斯特姆法学院，拉蒙特音乐学院</p>
                        <p class="normal-p">招生地址：2199 S. University Boulevard Denver, CO 80208</p>
                        <p class="normal-p">招生电话：(303) 871-2000</p>
                        <p class="normal-p">录取率：<strong style="color:rgb(192, 48, 53);">76.5%</strong></p>
                        <p class="normal-p">留学费用/学年：
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>州内学费：$36,936
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>州外学费：$39,177
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>住宿费：$10,440
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>住宿费：$2,000
                        </p>
                        <a href="http://www.du.edu/apply/index.html" class="btn btn-common">访问官网</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>

    <div class="container text-center margin-bottom">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>录取条件
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
    </div>

    <div class="container">
        <div class="container text-center margin-bottom">
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/index/b.png" alt="">
                </div>
                <h2>本科</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>GPA：3.7/4</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>IELTS：6.5+   单项分数6.0+</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>TOEFL(IBT)：80.0+  单项分数20+</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>SAT均分：1640-1940(阅读要求550-640，数学要求560-660，写作要求530-640）</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>ACT总分范围在24-30间（阅读要求25-31，数学要求24-39，写作要求8-9，ACT英语要求不低于22分。)</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                    <img src="/static/images/index/m.png" alt="">
                </div>
                <h2>硕士</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            正规大学四年制本科毕业并取得学士学位
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            GPA：3.0+　
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            TOEFL：80+
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            IETS：6.0+　
                        </h5>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-12 text-center" >
            <a href="#hex" class="btn btn-error" style="margin-top: 0;">分数不够怎么办，恒心来帮你</a>
        </div>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            院校简介
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            丹佛大学，位于美国科罗拉多州，洛基山区(Rocky Mountain)最老也最大的四年制私立大学，一级国家级大学，拥有优美的环境、深厚的文化底蕴以及严谨的学术。
        </p>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            学生情况

        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            丹佛大学的学生来自全美和将近100个国家，截至2009到2010年度，学校共有11770名学生, 包括5376名大学生以及6394名研究生(硕士和博士);并且，进入丹佛大学的美国高中生们的平均GPA为3.7/4，平均综合SAT成绩为1220分。
        </p>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            教学资源
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            Penrose Library是丹佛大学的校图书馆，截至2008年藏书总量为3,343,120册。Penrose Library与下列四个图书馆和图书馆机构有合作关系，分别是Colorado Alliance of Research Library， 拉蒙特音乐学院的Music Library，斯特姆法学院的Westminster Law Library和PASCAL(Preservation and Access Service Center for Colorados Libraries)。通过这个合作项目，DU的学生就可以通过Prospector系统免费借阅科州几乎所有大学图书馆和公共图书馆里的藏书;另外，DU的学生也可以免费进入全球各大学术期刊，论文和资料库(例如HeinOnline，LexisNexis，Hoover's Online等)下载你所需要的各种资料。丹佛大学还是全美大学中为数不多的能够给每一位本科生提供海外学习机会的大学，依靠它的Cherrington Global Scholars项目，学校和世界各地的著名大学都有互派学生的协议(比如，北京大学，香港大学、意大利的博洛尼亚大学、南非的开普敦大学等等)，学校可以给74.4%的在校本科生提供海外学习的机会，这个比例在所有的全美研究型大学中排名第一。截至2004年，已经有超过3000名学生前往57个国家和地区学习。
        </p>
    </div>


    <div class="container text-center margin-bottom">
        <h1>
            校园环境
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            丹佛(Denver)是美国科罗拉多州首府，人口约200万，丹佛市常年阳光充足，气候宜人，常年日照约300天，四季分明。丹佛是洛杉矶落基山地区的金融、工业、商业和交通运输业中心，有线电视、电信、太空、金融服务和计算机软件是这一地区的领先工业，世界500强的Qwest通讯公司、第一资讯(First Data)公司的总部在丹佛市，同时有超过85家世界500强公司在丹佛设有分支机构。交通便利，是通往落基山的交通要道，丹佛国际机场是全美第五大机场，丹佛同时也是美国东西火车干线上的主要停靠站，高速公路贯通全国。美国奥委会总部及国家奥林匹克训练中心和美国空军学院设于丹佛，美国NBA著名球队掘金队也出自丹佛，丹佛拥有丰富的文化遗产和众多的博物馆，是世界著名的旅游胜地
        </p>
    </div>

    <div class="container text-center margin-bottom" id="hex">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>恒心名校直通车
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
        <p class="normal-p" style="color: orangered"><strong>Development Case + 校董提名 + Admission Office，恒心独家一手资源，助你稳稳走进名校大门</strong></p>
    </div>

    <div class="container">
        <div class="container text-center margin-bottom">
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/index/b.png" alt="">
                </div>
                <h2>本科材料</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>高中成绩</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>SAT/ACT/SATII， 部分专业可免SAT/ACT</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>托福成绩, 部分学校接受四年美高可免托福成绩</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>CV&PS</h5>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                    <img src="/static/images/index/m.png" alt="">
                </div>
                <h2>硕士材料</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            本科成绩单
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            GRE/GMAT, 部分学校可免GRE/GMAT
                        </h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            托福成绩
                        </h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            CV&PS
                        </h5>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="container text-center margin-bottom" id="hex">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>名校直通车办理流程
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
    </div>
    <div class="container text-center margin-bottom">
        <label class="tag">
            提交材料
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            选择学校
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            可行性分析
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            签约
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            定金支付
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            出具offer后 付清尾款
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            办理入学手续
        </label>

    </div>
{% endblock %}