{% extends 'inc/master.html' %}

{% block title %}
    哈佛大学
{% endblock %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#apply').prop('class', 'active');
        });
    </script>
{% endblock %}


{% block content %}
    <section id="home-slider" class="margin-bottom" style="background: none;">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <img src="/static/images/mx/1.jpg" class="slider-school" alt="留学申请">
                    <div class="slider-summary">
                        <h1>哈佛大学</h1>
                        <p class="normal-p">US NEWS RANK:3</p>
                        <p class="normal-p">优势学院：商学院，工程和应用科学学院，法学院，教育研究生院，设计研究生院</p>
                        <p class="normal-p">招生地址：Undergraduate Admissions Office, 86 Brattle Street Cambridge, MA 02138</p>
                        <p class="normal-p">招生电话：(617) 495-1000</p>
                        <p class="normal-p">录取率：<strong style="color:rgb(192, 48, 53);">6%</strong></p>
                        <p class="normal-p">留学费用/学年：
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>每年总费用：$53650
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>本科学费：$37576
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>住校：$13500
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>食堂：$2000
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>健康服务费用：$930
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>学生服务费用：$2360
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>平均奖学金金额：$35000
                        </p>
                        <a href="https://college.harvard.edu/admissions/application-process/application-requireme" class="btn btn-common">访问官网</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>

    <div class="container text-center margin-bottom">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>录取条件
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
    </div>

    <div class="container">
        <div class="container text-center margin-bottom">
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/index/b.png" alt="">
                </div>
                <h2>本科</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>TOEFL:100+</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>SAT: 2200+</h5>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                    <img src="/static/images/index/m.png" alt="">
                </div>
                <h2>硕士</h2>
                {#                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">#}
                {#                    <span class="icon">#}
                {#                        <i class="fa fa-check"></i>#}
                {#                    </span>#}
                {#                    <div class="feature-copy text-left">#}
                {#                        <h5>#}
                {#                            正规大学四年制本科毕业并取得学士学位#}
                {#                        </h5>#}
                {#                    </div>#}
                {#                </div>#}

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            GPA:85+
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            TOEFL IBT: 110+
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            GRE:1300+(理工科) GMAT：700+（商科）
                        </h5>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-sm-12 text-center" >
            <a href="#hex" class="btn btn-error" style="margin-top: 0;">分数不够怎么办，恒心来帮你</a>
        </div>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            院校简介
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            哈佛大学是美国最早的私立大学，是以培养研究生和从事科学研究为主的综合性大学，同时是常春藤盟校成员之一。 哈佛大学是全美第一所大学(第二所是威廉玛丽学院，第三所是耶鲁大学)。美国独立战争以来大量的革命先驱都出自于哈佛的门下。哈佛大学被誉为美国政府的思想库。这里先后诞生了八位美国总统，40位诺贝尔奖得主和30位普利策奖得主。其商学院案例教学盛名远播。这里也培养了缔造了微软、IBM、Facebook等一个个商业奇迹的人。
        </p>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            学生情况

        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            在世界各报刊以及研究机构的排行榜，哈佛大学经常排世界第一。例如《新闻周刊》常把哈佛排在首位;2007年万维网世界大学排名，哈佛大学排名世界第二(仅次于麻省理工学院)。美国The Princeton Review Princeton Review在2006把哈佛大学列在全美“最难申请上的大学”里第四位。2011年来自全世界的34,950名申请人中，最终只有2,158名被录取。
        </p>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            教学资源
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            哈佛大学拥有超过九十个图书馆，藏书数量超过15,000,000册，是世界第四大“百万图书馆(mega-library)”(前3名分别是美国国会图书馆、大英图书馆、法国国家图书馆);哈佛大学在所有的研究机构中接受的捐赠是最多的，在2006年达到292亿美元，是仅次于比尔与美琳达·盖茨基金会的最大捐赠基金。哈佛大学和麻省理工学院(MIT)之间一直存在着友好的竞争关系，这种关系可以追溯到1900年，那时候两校合并的问题被广泛讨论，甚至在某个时候被当局达成一致(后来被马诸塞州的法院取消)，今天，这两所学校之间的合作和竞争依然不相上下，经常有很多合作的研讨会和项目，包括哈佛MIT健康科学与技术部，哈佛MIT数据中心， Dibner历史科技研究所.此外，两校的本科生和研究生之间还可以不用缴纳额外费用就能相互注册，获得学分来得到自己本校的学位。
        </p>
    </div>


    <div class="container text-center margin-bottom">
        <h1>
            校园环境
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            哈佛大学校园中有一片草地叫新哈佛园，在1936年新园被称为三世纪戏院，以纪念哈佛三百周年校庆，不管天晴下雨，历来开学及毕业典礼都在这里举行。a
        </p>
    </div>

    <div class="container text-center margin-bottom" id="hex">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>恒心名校直通车
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
        <p class="normal-p" style="color: orangered"><strong>Development Case + 校董提名 + Admission Office，恒心独家一手资源，助你稳稳走进名校大门</strong></p>
    </div>

    <div class="container">
        <div class="container text-center margin-bottom">
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/index/b.png" alt="">
                </div>
                <h2>本科材料</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>高中成绩</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>SAT/ACT/SATII， 部分专业可免SAT/ACT</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>托福成绩, 部分学校接受四年美高可免托福成绩</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>CV&PS</h5>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                    <img src="/static/images/index/m.png" alt="">
                </div>
                <h2>硕士材料</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            本科成绩单
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            GRE/GMAT, 部分学校可免GRE/GMAT
                        </h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            托福成绩
                        </h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            CV&PS
                        </h5>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="container text-center margin-bottom" id="hex">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>名校直通车办理流程
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
    </div>
    <div class="container text-center margin-bottom">
        <label class="tag">
            提交材料
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            选择学校
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            可行性分析
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            签约
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            定金支付
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            出具offer后 付清尾款
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            办理入学手续
        </label>

    </div>
{% endblock %}