{% extends 'inc/master.html' %}

{% block title %}
    耶鲁大学
{% endblock %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#apply').prop('class', 'active');
        });
    </script>
{% endblock %}


{% block content %}
    <section id="home-slider" class="margin-bottom" style="background: none;">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <img src="/static/images/mx/2.jpg" class="slider-school" alt="留学申请">
                    <div class="slider-summary">
                        <h1>耶鲁大学</h1>
                        <p class="normal-p">US NEWS RANK:3</p>
                        <p class="normal-p">优势学院：商学院，法学院，医学院，工程学院，文理学院</p>
                        <p class="normal-p">招生地址：New Haven, CT 06520 </p>
                        <p class="normal-p">招生电话：(203) 432-4771</p>
                        <p class="normal-p">录取率：<strong style="color:rgb(192, 48, 53);">6.3%</strong></p>
                        <p class="normal-p">留学费用/学年：
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>州内学费：$40,500
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>州外学费：$40,500
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>住宿费：$12,200
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>平均奖学金金额：$35700
                        </p>
                        <a href="https://www.yale.edu/" class="btn btn-common">访问官网</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>

    <div class="container text-center margin-bottom">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>录取条件
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
    </div>

    <div class="container">
        <div class="container text-center margin-bottom">
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/index/b.png" alt="">
                </div>
                <h2>本科</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>TOEFL:100+</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>SAT(Reading+Math):平均1500</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>ACT：平均32
                        </h5>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                    <img src="/static/images/index/m.png" alt="">
                </div>
                <h2>硕士</h2>
                {#                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">#}
                {#                    <span class="icon">#}
                {#                        <i class="fa fa-check"></i>#}
                {#                    </span>#}
                {#                    <div class="feature-copy text-left">#}
                {#                        <h5>#}
                {#                            正规大学四年制本科毕业并取得学士学位#}
                {#                        </h5>#}
                {#                    </div>#}
                {#                </div>#}

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            TOFEL:100+
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            GMAT：700+
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            大学本科均分:85+
                        </h5>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-sm-12 text-center" >
            <a href="#hex" class="btn btn-error" style="margin-top: 0;">分数不够怎么办，恒心来帮你</a>
        </div>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            院校简介
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            耶鲁大学(Yale University),旧译“耶劳大书院”，是一所坐落于美国康乃狄格州纽黑文市的私立大学，始创于1701年，初名“大学学院”(Collegiate School)。今为常青藤联盟的成员之一。耶鲁大学是美国历史上建立的第三所大学，第一所是哈佛大学，第二所是威廉玛丽学院。它和哈佛大学、普林斯顿大学齐名，历年来共同角逐美国大学和研究生院前三名的位置。该校教授阵容、学术创新、课程设置和场馆设施等方面堪称一流。哈佛大学注重和闻名于研究生教育，威廉玛丽学院闻名于本科生教育，而耶鲁则是双脚走路，都非常著名。
        </p>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            学生情况

        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            2006年，耶鲁学院(耶鲁大学本科部)总共有超过21,000名申请者，最终被录取的学生占总申请人数的8.6%。这个数字是常青藤联盟的所有成员校历史上最低的。因此耶鲁大学也向来被认为是美国最难进入的大学之一。最近几年，超过71%的被录取的学生最后选择进入耶鲁大学学习。(美国大学学生可以同时申请几所学校并最终选择接受一所学校的录取。)而选择拒绝耶鲁大学的录取而上其他大学的学生，大多因为学校高昂的学费。但是耶鲁大学同时也提供极优厚的助学金制度。有超过41.9%的在校本科生接受不同标准的助学金
        </p>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            教学资源
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            耶鲁大学图书馆是世界上规模第二的大学图书馆，拥有藏书1100万册，坐落于22座建筑物中，其中包括最大的史德林纪念图书馆、Beinecke古籍善本图书馆和法学院图书馆。学校还在纽黑文郊区设立有藏书库，以收藏长久不用的图书。史德林纪念图书馆位于学校中心地带，收藏有400万册图书，并且为耶鲁大学图书馆系统的中心。Beinecke古籍善本图书馆则收藏有迄今为止发现的最早的活字印刷本古滕堡圣经。图书馆大部分图书使用国会图书馆编目法，一些较早的收藏仍使用耶鲁编目法。所有收藏都登陆于Orbis目录系统(法学院收藏另使用Morris目录系统)，并与美国主要的图书馆建立馆际互借协议，并且与个别大学图书馆实行次日送达服务，使教授和学生可以迅速的得到需要的资料。另外学校的诸多设施由称为Eli Express的速递服务连接，学生可以选择在任何一个图书馆提取索要的图书和归还图书。这些服务对本科学生和教授都是免费的。
        </p>
    </div>


    <div class="container text-center margin-bottom">
        <h1>
            校园环境
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            耶鲁大学的美丽校园环境甚为著名。而一些现代建筑也常被作为建筑史中的典范出现在教科书中，其中包括路易·康设计的耶鲁大学美术馆、耶鲁大学英国艺术中心;Eero Saarinen设计的Ingalls滑冰场、Ezra Stiles学院和Morse学院;以及由Paul Rudolph设计的艺术和建筑系大楼。纽黑文为耶鲁大学的学生提供了许多娱乐和学习的机会：耶鲁大学有多个实习项目，与纽黑文市政厅和其他机构保持关系。耶鲁处于纽黑文的中心，周围有各种俱乐部、电影院、剧场、和大小食肆。同时耶鲁的良好声誉也为纽黑文带来了丰富的文化生活。例如耶鲁大学剧场历来都是百老汇剧目的试演场，导演往往在首演翌日非常关注耶鲁每日新闻所刊登的学生评论。

        </p>
    </div>

    <div class="container text-center margin-bottom" id="hex">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>恒心名校直通车
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
        <p class="normal-p" style="color: orangered"><strong>Development Case + 校董提名 + Admission Office，恒心独家一手资源，助你稳稳走进名校大门</strong></p>
    </div>

    <div class="container">
        <div class="container text-center margin-bottom">
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/index/b.png" alt="">
                </div>
                <h2>本科材料</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>高中成绩</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>SAT/ACT/SATII， 部分专业可免SAT/ACT</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>托福成绩, 部分学校接受四年美高可免托福成绩</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>CV&PS</h5>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                    <img src="/static/images/index/m.png" alt="">
                </div>
                <h2>硕士材料</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            本科成绩单
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            GRE/GMAT, 部分学校可免GRE/GMAT
                        </h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            托福成绩
                        </h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            CV&PS
                        </h5>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="container text-center margin-bottom" id="hex">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>名校直通车办理流程
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
    </div>
    <div class="container text-center margin-bottom">
        <label class="tag">
            提交材料
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            选择学校
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            可行性分析
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            签约
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            定金支付
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            出具offer后 付清尾款
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            办理入学手续
        </label>

    </div>
{% endblock %}