{% extends 'inc/master.html' %}

{% block title %}
    加州大学欧文分校
{% endblock %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#apply').prop('class', 'active');
        });
    </script>
{% endblock %}


{% block content %}
    <section id="home-slider" class="margin-bottom" style="background: none;">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <img src="/static/images/mx/8.jpg" class="slider-school" alt="留学申请">
                    <div class="slider-summary">
                        <h1>哥伦比亚大学</h1>
                        <p class="normal-p">US NEWS RANK:39</p>
                        <p class="normal-p">优势学院：克莱尔•特雷弗艺术学院、亨利•萨谬工程学院.</p>
                        <p class="normal-p">招生地址：Irvine, CA 92697</p>
                        <p class="normal-p">招生电话：(949) 824-5011 </p>
                        <p class="normal-p">录取率：<strong style="color:rgb(192, 48, 53);">37.4%</strong></p>
                        <p class="normal-p">留学费用/学年：
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>本科学费：$34774/年
                            <i class="fa fa-check-square-o" style="color:rgb(192, 48, 53);"></i>研究生学费：$32164/年
                        </p>
                        <a href="http://www.uci.edu/admissions/index.php" class="btn btn-common">访问官网</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>

    <div class="container text-center margin-bottom">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>录取条件
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
    </div>

    <div class="container">
        <div class="container text-center margin-bottom">
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/index/b.png" alt="">
                </div>
                <h2>本科</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>IELTS：7.0+</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>SAT平均：1867</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>GPA平均：4.05</h5>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                    <img src="/static/images/index/m.png" alt="">
                </div>
                <h2>硕士</h2>
{#                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">#}
{#                    <span class="icon">#}
{#                        <i class="fa fa-check"></i>#}
{#                    </span>#}
{#                    <div class="feature-copy text-left">#}
{#                        <h5>#}
{#                            正规大学四年制本科毕业并取得学士学位#}
{#                        </h5>#}
{#                    </div>#}
{#                </div>#}

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            IELTS：7.0+   每项6+
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            TOEFL(IBT)：80.0+
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            GRE: 615　
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-check"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            GPA: 3.67
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 text-center" >
            <a href="#hex" class="btn btn-error" style="margin-top: 0;">分数不够怎么办，恒心来帮你</a>
        </div>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            院校简介
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            加州大学欧文分校(University of California, Irvine缩写UCI)建于1965年，属于加州大学系统 (University of California) 十大综合实力最为强劲的分校之一，属于世界最知名且极赋声誉的最顶尖公立大学。加利福尼亚大学欧文分校位于南加州，洛杉矶以南约50英里的橘郡(Orange County)的尔湾市(Irvine)，是加大系统十所分校中第二年轻的校区，因为成立较晚，校风开放。完美的地理位置，极佳的学习生活环境，以及被誉为南加州硅谷的橘郡的大量高科技企业的支持，使该校成为系统中成长最快的分校。加州大学欧文分校虽然建校时间短，但加州大学内部排名却紧追加州大学伯克利分校、加州大学洛杉矶分校、加州大学戴维斯分校和加州大学圣地亚哥分校之后，名列全美公立常春藤，在2015年USNEWS 排名中位居第43，而在公立大学排名中与伊利诺伊大学香槟分校， 德克萨斯大学奥斯汀分校以及位于西雅图的华盛顿大学不分伯仲，并列于第13位。
        </p>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            办学条件
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            1965年，加利福尼亚大学尔湾分校(UCI)正式建成。建成后招收了1589名学生和119名教职工，往日光秃秃的沙漠逐渐变成了树木林立、树种繁多、风景宜人的大学校园，时至今日，学校已成为一个富于创新、勇于创造、经济实力雄厚的教育、学术中心。
        </p>
    </div>

    <div class="container text-center margin-bottom">
        <h1>
            学校特色
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            加州大学尔湾分校的特殊设备包括生物身体组织博物馆、Zeiss电子透射显微镜、扫描探针显微镜、扫描隧道显微镜、原子炉、飞秒超快激光、淡水及沼泽储存库、农场学校等。运动设备有羽毛球馆、游泳池、篮球馆、篮球场、网球场、器械健身房、舞蹈室、草地足球场、室内足球场、壁球场、室外田径场。校内有近600个学生社团，提供多种社团活动，学生可自选参加，其中中国同学会(CSSA UCI)尤其活跃，常举办各式文化交流活动，包括大型歌舞演出和节日联欢会。
        </p>
    </div>


    <div class="container text-center margin-bottom">
        <h1>
            院系设置
        </h1>
    </div>
    <div class="container margin-bottom">
        <p class="normal-p" style="text-indent: 2em;">
            学院设置：克莱尔•特雷弗艺术学院、教育学院、管理研究生院、生物科学学院、计算机信息学院、物理学院、社会生态学院、社会科学学院、亨利•萨谬工程学院.
        </p>
    </div>

    <div class="container text-center margin-bottom" id="hex">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>恒心名校直通车
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
        <p class="normal-p" style="color: orangered"><strong>如果你有颗名校深造的心，却没有进得去TOP100的成绩，恒心就来带你体验弯道超车的快感。</strong></p>
    </div>

    <div class="container">
        <div class="container text-center margin-bottom">
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="/static/images/index/b.png" alt="">
                </div>
                <h2>本科材料</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>高中成绩</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>SAT/ACT/SATII， 部分专业可免SAT/ACT</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>托福成绩, 部分学校接受四年美高可免托福成绩</h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>CV&PS</h5>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                    <img src="/static/images/index/m.png" alt="">
                </div>
                <h2>硕士材料</h2>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            本科成绩单
                        </h5>
                    </div>
                </div>

                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            GRE/GMAT, 部分学校可免GRE/GMAT
                        </h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            托福成绩
                        </h5>
                    </div>
                </div>
                <div class="feature-left fadeInLeft wow" data-wow-duration="300ms" data-wow-delay="600ms">
                    <span class="icon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <div class="feature-copy text-left">
                        <h5>
                            CV&PS
                        </h5>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="container text-center margin-bottom" id="hex">
        <h1>
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-right: 15px;"></i>名校直通车办理流程
            <i class="fa fa-star fa-1x fa-spin" style="color:gold;margin-left: 15px;"></i>
        </h1>
    </div>
    <div class="container text-center margin-bottom">
        <label class="tag">
            提交材料
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            选择学校
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            可行性分析
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            签约
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            定金支付
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            出具offer后 付清尾款
        </label>
        <br/>
        <img src="/static/images/arrow.png" >
        <br/>
        <label class="tag">
            办理入学手续
        </label>

    </div>
{% endblock %}