{% extends "myadmin/master_admin.html" %}{% block ti %}{% endblock %}
{% block linkcss %}{% endblock %}
{% load staticfiles %}
{% block body %}
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li><i class="icon-sitemap"></i><a href="/admin">系统管理</a></li>
                <li class="active">添加接口授权</li>
            </ul><!-- .breadcrumb -->
            <div id="nav-search" class="nav-search">
                <form class="form-search">
								<span class="input-icon">
									<input type="text" autocomplete="off" id="nav-search-input" class="nav-search-input" placeholder="Search ...">
									<i class="icon-search nav-search-icon"></i>
								</span>
                </form>
            </div>
        </div>
        <h1 class="page-header">&nbsp;
        <a class="btn btn-primary pull-right" data-target="#Modal_newapp" data-toggle="modal">新增接口授权</a> </h1>

        <div class="col-xs-12">

<div class="modal fade" id="Modal_newapp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">新增接口授权</h4>
                                            </div>

                                            <form class="form-horizontal" action="" method="POST">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label class="control-label col-xs-12 col-sm-3 no-padding-right">应用名:</label>
                                                        <div class="col-xs-12 col-sm-9 ">
                                                            <div class="clearfix">
                                                            <select id="appidselect" name="appid" >
                                                                {% if apps %}
                                                                    {% for app in apps %}
                                                                        <option value="{{ app.id }}">{{ app.Name }}</option>
                                                                    {% endfor %}

                                                                {% endif %}
                                                            </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <div class="form-group">
                                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right">备注:</label>
                                                        <div class="col-xs-12 col-sm-9 ">
                                                            <div class="clearfix">
                                                            <input type="text" name="brf" value="" placeholder="备注"/>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="modal-footer" >
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                    <button type="submit" class="btn btn-primary">保存</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>



        </div>

        <div class="col-xs-12">

            <table class="table table-responsive table-striped table-hover table-bordered">
                <thead>
                <tr>

                    <th  class="col-xs-1"><span >授权编号</span></th>
                    <th> <span >apisecret</span></th>

                    <th ><span>应用名称</span></th>
                    <th> <span >备注</span></th>
                    <th ><span >开启日期</span></th>

                    <th class="col-xs-1"><span>操作</span></th>
                </tr>
                </thead>
                <tbody>
                {% if apisecrets %}


                    {% for api in apisecrets %}
                        <tr>

                            <td>{{ api.id }}</td>
                            <td>{{ api.secret }}</td>
                            <td>{{ api.app.Name }}</td>
                            <td>{{ api.brf }}</td>
                            <td>{{ api.dim_date }}</td>

                            <td>

                                <a href="#" onclick="if(confirm('确定删除?')) {delapp({{ api.id }});}" title="删除"><i class="icon-remove"></i></a>&nbsp; </td>
<script>
    function delapp(id) {
        NProgress.start();
        $.post('/admin/delsecret',{'apisecretid':id},function (data) {
            NProgress.done();
            alert(data);
            location.reload();
        })
    }
</script>
                        </tr>

                    {% endfor %}
                {% endif %}



                </tbody></table>




        </div>
    </div>


{% endblock %}