{% extends "backend/master_admin.html" %}{% block ti %}{% endblock %}
{% block linkcss %}{% endblock %}
{% load staticfiles %}
{% block body %}
    <div class="main-content">
        <!--导航条开始-->
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li><i class="icon-sitemap"></i><a href="/admin">系统管理</a></li>
                <li class="active">文章内容发布</li>
            </ul><!-- .breadcrumb -->
        </div>
        <!--导航条结束-->

        <!--内容开始-->
        <div id="main" class="col-sm-1  col-md-12 col-lg-12 lefrgit">
            <form method="GET" action="content1">
                <h1 class="page-header">
                    <div role="group" class="btn-group">
                        <a onclick="$('input[name=checkbox]').prop('checked',!$(this).prop('checked'));$(this).prop('checked',!$(this).prop('checked'));" class="btn btn-default" draggable="false">全选</a>
                        <a onclick="$('input[name=checkbox]').each(function(){if(this.checked){this.checked=false;}else{this.checked=true;}});" class="btn btn-default" draggable="false">反选</a>
                        <a onclick="postdel()" class="btn btn-danger" draggable="false">删除</a>
                    </div>
                    <div role="group" class="btn-group pull-right">
                        <a href="/r/editcontent?id=new" title="" data-placement="bottom" data-toggle="tooltip" class="btn btn-primary"  data-original-title="添加新的文章">添加文章</a>
                    </div>
                </h1>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th><span class="visible-lg">选择</span></th>
                            <th><span class="visible-lg">标题</span></th>
                            <th class="col-xs-2"> <span class="visible-lg">浏览次数</span></th>
                            <th><span class="visible-lg">类型</span></th>
                            <th><span class="visible-lg">日期</span></th>
                            <th> <span class="visible-lg">操作</span></th>
                        </tr>
                        </thead>
                        <tbody id="tbody_content">

                        </tbody>
                    </table>
                </div>
                <footer class="message_footer">
                    <nav>
                        <div role="toolbar" class="btn-toolbar operation">

                            <script>
                                function getCookie(name) {
                                    var cookieValue = null;
                                    if (document.cookie && document.cookie !== '') {
                                        var cookies = document.cookie.split(';');
                                        for (var i = 0; i < cookies.length; i++) {
                                            var cookie = jQuery.trim(cookies[i]);
                                            // Does this cookie string begin with the name we want?
                                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                break;
                                            }
                                        }
                                    }
                                    return cookieValue;
                                }
                                var csrftoken = getCookie('csrftoken');
                                $('#li_content').attr('class','active');
                                function  ajax_refresh_table() {
                                    $('#tbody_content').html('');
                                    NProgress.start();
                                    $.get('/r/getcontent',function (data) {
                                        $('#tbody_content').append(data);
                                        NProgress.done();
                                    });
                                }
                                ajax_refresh_table();
                                function postdel() {
                                    if(confirm('确定删除吗')){
                                        var s=[];
                                        $('input:checked[name=checkbox]').each(function (index,item) {
                                            //if($(item).checked==true) {
                                            s .push ($(item).val());
                                            //}
                                        });
                                        $.post('/r/content',{'ids':s,'csrfmiddlewaretoken':csrftoken},function (data) {
                                            data=JSON.parse(data);
                                            $.gritter.add({
                                                // (string | mandatory) the heading of the notification
                                                title: '成功',
                                                // (string | mandatory) the text inside the notification
                                                text: data.msg,
                                                class_name: 'gritter-success'
                                            });
                                            ajax_refresh_table();
                                        })
                                    }}

                            </script>

                        </div>
                        <ul class="pagination pagenav">
                            <li class="disabled"><a aria-label="Previous" draggable="false"> <span aria-hidden="true">«</span> </a> </li>
                            <li class="active"><a href="#" draggable="false">1</a></li>
                            <li><a href="#" draggable="false">2</a></li>
                            <li><a href="#" draggable="false">3</a></li>
                            <li><a href="#" draggable="false">4</a></li>
                            <li><a href="#" draggable="false">5</a></li>
                            <li><a aria-label="Next" href="#" draggable="false"> <span aria-hidden="true">»</span> </a> </li>
                        </ul>
                    </nav>
                </footer>
            </form>
        </div>
        <!--内容结束-->

    </div>
    <!--主体结束-->
{% endblock %}